<div class="modal fade" tabindex="-1" role="dialog" id="modal_task_comment">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'Comment'|l}}"></modal-header>
            <div class="modal-body" style="padding-top: 0px;">
                
                <div ng-include="ctrlChild._urlComment"></div>
            </div>
            <div class="modal-footer">
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>