<div class="workflow-part" ng-hide="!ctrlChild._searchFilter_workflow && ctrlChild.totalItems_workflow ===0">
    <div class="title" id="headingWorkFlow">
        <div class="label" ng-click="ctrlChild.toogleCollapseWorkFlow()" class="btn btn-link"
             data-toggle="collapse" data-target="#collapseWorkFlow" aria-expanded="true"
             aria-controls="collapseWorkFlow" style="font-style: bold;">
            <i class="fas fa-angle-down" ng-show="ctrlChild.collapseWorkFlow"></i><i class="fas fa-angle-right"
            ng-show="!ctrlChild.collapseWorkFlow"></i>&nbsp;&nbsp;<label>{{'Document to be approved'|l}}&nbsp;(<span>{{ctrlChild.totalItems_workflow}}</span>)</label>
        </div>
    </div>
    <div id="collapseWorkFlow" class="collapse" ng-class="{'show':ctrlChild.collapseWorkFlow}" aria-labelledby="headingWorkFlow">
    <div class="the-content">
        <div class="table-responsive">
            <table class="table table-sm table-hover" ng-class="{'no-data':ctrlChild.workflows.length ===0}">
                <thead>
                    <tr>
                        <td style="font-weight: 600;vertical-align: middle; text-align: center; width: 30px;">#</td>
                        <td
                            style="font-weight: 600;color: #212529;vertical-align: middle; text-align: center; width: 140px;">
                            {{'Code'|l}}</td>
                        <td class="tool">
                            <div class="search" style="margin-bottom: 5px;">
                                <input type="text" ng-model="ctrlChild._searchFilter_workflow"
                                    my-watch-text-input my-scope="ctrlChild._searchFilter_workflow"
                                    my-func="ctrlChild.refreshData_workflow()" my-start="!ctrlChild._notyetInit_workflow"
                                    placeholder="{{'Find by title and code'|l}}">
                                <i class="fas fa-search"></i>
                            </div>
                            <div style="color: #212529; font-weight: 600;">
                                {{'Document Name/ Workflow Name'|l}}
                            </div>

                        </td>

                        <td style="font-weight: 600;vertical-align: middle; text-align: center; width: 160px;">
                            {{'Composer/Submitter'|l}}
                        </td>
                        <td style="font-weight: 600;vertical-align: middle; text-align: center; width: 160px;">{{'Processing time'|l}}</td>
                        <td style="width: 200px;font-weight: 600;vertical-align: middle; text-align: center;">{{'Approve'|l}}/&nbsp;{{'Sign'|l}}/&nbsp;{{'Resubmit'|l}}</td>
                        <td style="width: 190px;font-weight: 600;vertical-align: middle; text-align: center;">{{'Reject'|l}}/&nbsp;{{'Return'|l}}</td>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrlChild.workflows track by $index">
                        <td style="font-weight: 600;vertical-align: middle; text-align: center;">
                            <strong> {{$index +1}}</strong>
                        </td>
                        <td style="font-weight: 600;vertical-align: middle; text-align: center; width: 140px;">
                            <strong>{{item.code}}</strong>
                        </td>
                        <td>
                            <a class="text-dark" link-details
                                link-details-display="{{'['+item.code+'] '+item.title}}"
                                link-details-url="/signing-details?code={{item.code}}"
                                link-details-route="signing-details"><span ng-if="item.status ==='Returned'" class="badge badge-gray-200">{{'Returned'|l}}</span>&nbsp;{{item.title}}</a>
                            <div class="showfile-bar" ng-if="item.attachment.length>0">
                                <attachment-show ng-repeat="at in item.attachment" attachment-show-item="at"
                                    attachment-show-func="ctrlChild.loadfile_workflow(params)"
                                    attachment-show-params="{id:item._id,name:at.name}"
                                    attachment-show-service-name="'workflow_play'">
                                </attachment-show>
                            </div>
                            <div class="showfile-bar" ng-if="item.customTemplate">
                                <attachment-show attachment-show-item="item.customTemplate"
                                    attachment-show-func="ctrlChild.loadfile_workflow(params)"
                                    attachment-show-params="{id:item._id,name:item.customTemplate.name}"
                                    attachment-show-service-name="'workflow_play'">
                                </attachment-show>
                            </div>
                        </td>
                        <td style="font-weight: 600;vertical-align: middle;text-align: center;width: 160px;">

                            <show-username username="item.username">
                            </show-username>
                        </td>
                        <td style="font-weight: 600;vertical-align: middle;text-align: center;width: 160px;">
                            <time-show  
                            time-show-data="item.flow[item.node-1].expected_complete_at" 
                            time-show-type="long"></time-show>
                        </td>
                        <td style="width: 200px; text-align: center;">
                            <button type="button" modal-toggle="#quick_handle_workflow" ng-if="item.status !== 'Returned'"
                                ng-click="ctrlChild.prepareToHandle_workflow(item,'Approve')"
                                class="btn btn-outline-success">
                                <i class="fas fa-check"></i>&nbsp;{{'Approve'|l}}
                            </button>&nbsp;&nbsp;
                            <button type="button" modal-toggle="#quick_handle_workflow" ng-if="item.status !== 'Returned'"
                                ng-click="ctrlChild.prepareToHandle_workflow(item,'Sign')"
                                class="btn btn-outline-success">
                                <i class="fas fa-signature"></i>&nbsp;{{'Sign'|l}}
                            </button>
                            <button type="button" modal-toggle="#quick_handle_workflow" ng-if="item.status === 'Returned'"
                                    ng-click="ctrlChild.prepareToHandle_workflow(item,'Resubmit')"
                                class="btn btn-outline-success">
                                <i class="fas fa-signature"></i>&nbsp;{{'Resubmit'|l}}
                            </button>
                        </td>
                        <td style="width: 190px;text-align: center;">
                            <button type="button" modal-toggle="#quick_handle_workflow" ng-if="item.status !== 'Returned'"
                                ng-click="ctrlChild.prepareToHandle_workflow(item,'Reject')"
                                class="btn btn-outline-danger">
                                <i class="fas fa-times"></i>&nbsp;{{'Reject'|l}}
                            </button>&nbsp;&nbsp;
                            <button type="button" modal-toggle="#quick_handle_workflow" ng-if="item.status !== 'Returned'"
                                ng-click="ctrlChild.prepareToHandle_workflow(item,'Return')"
                                class="btn btn-outline-danger">
                                <i class="fas fa-undo"></i>&nbsp;{{'Return'|l}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="ctrlChild.workflows.length ==0" class="no-data">
            {{'NoData'|l}}
        </div>
        <pagination ng-show="ctrlChild.totalItems_workflow>0" pagination-ctrlname="{{ctrlChild._ctrlName}}" pagination-objname="Workflow"
            pagination-actionname="count" pagination-currentpage="ctrlChild.currentPage_workflow"
            pagination-noi="ctrlChild.numOfItemPerPage" pagination-total="ctrlChild.totalItems_workflow"
            pagination-func="ctrlChild.load_workflow(params)"></pagination>
    </div>
    </div>
</div>