<div id="directory_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng tính toán kích thước hình ảnh
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['UtilitiesTool.CalculateDimensions.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'UtilitiesTool.CalculateDimensions.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>