<div class="cardmanagement generic-animation">
    <ul>
        <li>
            <div class="item">
                <div class="label">
                    Có quyền quản lý Danh sách thẻ không ?
                </div>
                <div class="tool">
                    <input type="checkbox" ng-model="ctrl.rule['Office.CardVehicle.Use'].value"
                        brige-func="ctrl.updateRule(params)" brige-value="'Office.CardVehicle.Use'" />
                </div>
            </div>
        </li>
    </ul>
</div>
