<div id="department_group_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng quản lý nhóm phòng ban
                        <i>(bao gồm việc thêm, sửa thông tin nhóm phòng ban)</i>
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Management.DepartmentGroup.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Management.DepartmentGroup.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
