<div class="department generic-animation"
    ng-class="{'active':ctrl.tabDocument==='department'}">
    <div style="border-top:1px solid #eee;margin-bottom:15px;margin-top:10px;">
    </div>
    <ul>
        <!-- Folder -->
        <li>
            <div class="item">
                <div class="label">
                    Có thể thêm mới <b>thư mục</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được thêm mới
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_Folder_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Create_Folder_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_Folder_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Create_Folder_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Create_Folder_Department'"
                                disable="ctrl.rule['Office.File.Create_Folder_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_Folder_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="item">
                <div class="label">
                    Có thể chỉnh sửa <b>thư mục</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được chỉnh sửa
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_Folder_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Update_Folder_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_Folder_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Update_Folder_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Update_Folder_Department'"
                                disable="ctrl.rule['Office.File.Update_Folder_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_Folder_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="item">
                <div class="label">
                    Có thể xoá <b>thư mục</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được xoá
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_Folder_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Delete_Folder_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_Folder_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Delete_Folder_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Delete_Folder_Department'"
                                disable="ctrl.rule['Office.File.Delete_Folder_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_Folder_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <!-- File -->
        <li>
            <div class="item">
                <div class="label">
                    Có thể thêm mới <b>tệp tin</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được thêm mới
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_File_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Create_File_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_File_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Create_File_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Create_File_Department'"
                                disable="ctrl.rule['Office.File.Create_File_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Create_File_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="item">
                <div class="label">
                    Có thể chỉnh sửa <b>tệp tin</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được chỉnh sửa
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_File_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Update_File_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_File_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Update_File_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Update_File_Department'"
                                disable="ctrl.rule['Office.File.Update_File_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Update_File_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="item">
                <div class="label">
                    Có thể xoá <b>tệp tin</b> của phòng ban:
                </div>
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="label">
                            Không được xoá
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_File_Department'].value"
                                brige-func="ctrl.updateRule(params)"
                                brige-value="'Office.File.Delete_File_Department'"
                                value="NotAllow" />
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="label">
                            Tất cả phòng ban
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_File_Department'].value"
                                value="All" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="label">
                            Một số phòng ban cụ thể:
                            <organization-multi label="{{''}}"
                                id-value="ctrl.rule['Office.File.Delete_File_Department'].department"
                                select-func="ctrl.update_Department_Permission(params)"
                                my-params="'Office.File.Delete_File_Department'"
                                disable="ctrl.rule['Office.File.Delete_File_Department'].value!='Specific'">
                            </organization-multi>
                        </div>
                        <div class="tool">
                            <input type="radio"
                                ng-model="ctrl.rule['Office.File.Delete_File_Department'].value"
                                value="Specific" />
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>