<div id="study_plan_permission">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng import lịch thi
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Education.ExamSchedule.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Education.ExamSchedule.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>