<div id="modal_User_Import" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'RegisterUserTemplate'|l}}"></modal-header>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row part">
                        <div style="margin-bottom: 5px;" class="col-md-12 sample-file-div">
                            <div class="sample-file"><span>{{'DownloadSampleFile'|l}}: </span>
                                <button type="button" ng-click="ctrl.loadUserImportTemplate()"
                                    ng-disabled="ctrl.loadingTemplate" style="padding: 0 7px;
                                    margin-left: 5px;
                                    box-shadow: none;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;
                                    border-radius: 5px;
                                    height: 30px;
                                    width: 100px;
                                    font-weight: bold;" class="btn btn-outline-primary btn-sm">
                                    <i style="display: inline-block; color: green; margin-right: 5px; font-size: 15px;"
                                        class="fas fa-file-excel"></i>
                                    {{'Download'|l}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-if="!ctrl.importedFile.length" class="no-data">
                                {{'NoAttachment'|l}}
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr ng-repeat="item in ctrl.importedFile">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <attachment-just-show my-item="item"></attachment-just-show>
                                            </td>
                                            <td><i class="fas fa-times text-danger"
                                                    ng-click="ctrl.removeExcelFile_insert(item)"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="diskuf-selector-table wd-fa-add-file-light-table">
                                <tbody>
                                    <tr>
                                        <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                                            colspan=" 0">
                                            <div class="custom-file">
                                                <div class="diskuf-uploader">
                                                    <span class="wd-fa-add-file-light">
                                                        <span class="wd-fa-add-file-light-text">
                                                            <span class="wd-fa-add-file-light-title">
                                                                <span class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                                                            </span>
                                                            <span
                                                                class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                        </span>
                                                    </span>
                                                    <input class="diskuf-fileUploader wd-test-file-light-inp " type="file"
                                                        file-reading-excel-template="ctrl.importedFile" 
                                                        file-func-excel-template="ctrl.handleFile(params)" style="width:100%;">
                                                </div>
                    
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                </div>
                <div class="table-responsive" ng-if="ctrl.importedFile.length &&  ctrl.imported_users.length">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'DisplayName'|l}}</th>
                                <th>{{'UserName'|l}}</th>
                                <th>{{'Password'|l}}</th>
                                <th>{{'Department'|l}}</th>
                                <th>{{'Email'|l}}</th>
                                <th>{{'Phone'|l}}</th>
                                <th>{{'IsActive'|l}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in ctrl.imported_users track by $index">
                                <td>{{$index + 1}}</td>
                                <td><input type="text" ng-model="user.title" /></td>
                                <td><input type="text" ng-model="user.username" /></td>
                                <td><input type="text" ng-model="user.password" /></td>
                                <td>
                                    <organization id-value="user.department"
                                        select-func="ctrl.chooseDepartment(params, $index)" require="true"
                                        disable="$root.statusValue.get(ctrl._ctrlName,'User','import','doing')">
                                    </organization>
                                </td>
                                <td><input type="text" ng-model="user.email" /></td>
                                <td><input type="text" ng-model="user.phone" /></td>
                                <td>
                                    <input-checkbox input-checkbox-model="user.isactive"
                                        input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'User','import','doing')"></input-checkbox>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" ng-click="ctrl.removeImportedUser($index)">
                                        {{'Delete'|l}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="ctrl.import_func()">Import</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Close'|l}}</button>
            </div>
        </div>

    </div>
    <div ng-if="ctrl.showPopupImport" class="popupTaskDetails">
        <div class="popup-content">
            <div class="title-popup" ng-class="{
                    'error':ctrl.typePopup === 'error',
                    'success':ctrl.typePopup === 'success',
                    'warning':ctrl.typePopup === 'warning'}">
                {{ctrl.titlePopup|l}}
            </div>
            <span class="close x-icon" ng-click="ctrl.closePopup();"></span>
            <div class="content-popup">
                {{ctrl.contentPopup|l:({username: ctrl.usernameError})}}
            </div>
        </div>
    </div>
</div>