<div id="labor_contract_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng hợp đồng lao động
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.LaborContract.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.LaborContract.Use'"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền phê duyệt hợp đồng lao động
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.LaborContract.Approval'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.LaborContract.Approval'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>