<div id="recycle_bin_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng thùng rác
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Management.RecycleBin.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Management.RecycleBin.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>