<div id="directory_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng xoá nội dung trong file pdf
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['UtilitiesTool.RemoveContextPdf.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'UtilitiesTool.RemoveContextPdf.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>