<div class="modal fade" id="modal_User_ResetPassword" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <modal-header modal-header-title="{{'Alert'|l }}"></modal-header>
            <div class="modal-body">
                {{'DoYouWantResetPassword'|l:{title:ctrl._reset_password_value.username} }}
            </div>
            <div class="modal-footer">
                <my-async async-status-label="'Resetting...'" async-ctrlname="{{ctrl._ctrlName}}"
                    async-objname="User" async-actionname="update">
                    <async-default>
                        <button class="btn btn-primary" type="button"
                            ng-disabled="$root.statusValue.get(ctrl._ctrlName,'User','update','doing')"
                            ng-click="ctrl.reset_password()">
                            <i class="fas fa-retweet"></i>&nbsp;{{'Reset'|l}}</button>
                    </async-default>
                    <async-doing>
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                            <div class="sk-rect sk-rect5"></div>
                        </div> {{loadingLabel ||'Resetting...'}}
                    </async-doing>
                    <async-success>
                        <span class="btn " style="color: #4dbd74;">
                            {{'SuccessSaving'|l}}
                        </span>
                    </async-success>
                    <async-fail>
                        <span class="btn " style="color: #f86c6b;">
                            {{$root.statusValue.get(ctrl._ctrlName,'User','update','message')|l}}
                        </span>
                        <button class="btn btn-outline-success" type="button"
                            ng-disabled="$root.statusValue.get(ctrl._ctrlName,'User','update','doing')"
                            ng-click="ctrl.reset_password()">
                            <i class="fas fa-redo"></i>&nbsp;{{'Retry'|l}}
                        </button>
                    </async-fail>
                </my-async>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>