<div id="settings_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng cài đặt cấu hình hệ thống
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Management.Settings.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Management.Settings.Use'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>