<div id="task_permision">

    <div class="main-permission">
        <ul>
            <li>
                <div class="item">
                    <div class="label">
                        Cấp quyền sử dụng tính năng quản lý dự án - công việc
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.Task.Use'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.Task.Use'"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="label">
                        Ủy quyền phân công công việc cho cấp trên
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.Task.AuthorizationToAssignWorkToSuperiors'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.Task.AuthorizationToAssignWorkToSuperiors'"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="label">
                        Tạo công việc có tính chất lặp lại theo chu kỳ
                    </div>
                    <div class="tool">
                        <input type="checkbox" ng-model="ctrl.rule['Office.Task.Create_RepetitiveCycle_Department'].value" brige-func="ctrl.updateRule(params)" brige-value="'Office.Task.Create_RepetitiveCycle_Department'"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="tab-direction-container">
        <div class="tab-direction">
            <div class="item " ng-class="{'active':ctrl.tabTask==='department'}"
                ng-click="ctrl.switchTaskTab('department')">
                <i class="fas fa-people-carry"></i>&nbsp;&nbsp;{{'Department'|l}}
            </div>
            <div class="item" ng-class="{'active':ctrl.tabTask==='project'}" ng-click="ctrl.switchTaskTab('project')">
                <i class="fas fa-project-diagram"></i>&nbsp;&nbsp;{{'Project'|l}}
            </div>
            <div class="item" ng-class="{'active':ctrl.tabTask==='personal'}" ng-click="ctrl.switchTaskTab('personal')">
                <i class="fas fa-user-clock"></i>&nbsp;&nbsp;{{'Personal'|l}}
            </div>
            <div class="item" ng-class="{'active':ctrl.tabTask==='statistic'}"
                ng-click="ctrl.switchTaskTab('statistic')">
                <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;{{'Statistic'|l}}
            </div>
            <div class="item" ng-class="{'active':ctrl.tabTask==='taskmanagement'}"
                ng-click="ctrl.switchTaskTab('taskmanagement')">
                <i class="fas fa-tasks"></i>&nbsp;&nbsp;{{'TaskManagement'|l}}
            </div>
        </div>
    </div>

    <div class="content">

        <div ng-include="ctrl._urlTask_Department_Permission"></div>
        <div ng-include="ctrl._urlTask_Project_Permission"></div>
        <div ng-include="ctrl._urlTask_Personal_Permission"></div>
        <div ng-include="ctrl._urlTask_Statistic_Permission"></div>
        <div ng-include="ctrl._urlTask_Management_Permission"></div>
    </div>
</div>