<div class="modal fade" tabindex="-1" role="dialog" id="modal_DepartmentGroup_Update">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'UpdateAccountGroupInformation'|l}}"></modal-header>
            <div class="modal-body">
                <div class="part">
                    <form class="form-horizontal" name="updateDepartmentGroupForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group-new">
                                        <div class="input-group-prepend-new">
                                            <span class="input-group-text-new">{{'Name'|l}}</span>
                                            <span class="require-sympton">*</span>
                                        </div>
                                        <input ng-disabled="$root.statusValue.get(ctrl._ctrlName,'DepartmentGroup','update','doing')" type="text"
                                               ng-model="ctrl._update_value.title" class="form-control" name="updateDepartmentGroup_title"
                                               placeholder="input displayname"
                                               ng-class="{ 'is-invalid': updateGroupForm.updateDepartmentGroup_title.$invalid }" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <organization-multi label="{{'Department'|l}}"
                                                        id-value="ctrl._update_value.departments"
                                                        select-func="ctrl.chooseDepartment_update(params)"
                                                        disable="$root.statusValue.get(ctrl._ctrlName,'DepartmentGroup','update','doing')">
                                    </organization-multi>
                                </div>
                            </div>

                            <div class="col-md-12 user-is-active">
                                <div class="form-group">
                                    <input-checkbox input-checkbox-label="{{'IsActive'|l}}"
                                                    input-checkbox-model="ctrl._update_value.isActive"
                                                    input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'DepartmentGroup','update','doing')">
                                    </input-checkbox>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <modal-button-save style="float: right;" modal-button-save-ctrlname="{{ctrl._ctrlName}}"
                                   modal-button-save-objname="DepartmentGroup" modal-button-save-actionname="update"
                                   modal-button-save-invalid="updateDepartmentGroupForm.$invalid" modal-button-save-func="ctrl.update_func()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>
