<div class="modal fade" tabindex="-1" role="dialog" id="modal_Training_Point_Update">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'UpdateTrainingPointActivity'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal " name="updateForm_Training_Point">
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="text" ng-model="ctrl._update_value.title" class="form-control"
                                name="update_title" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_title.$invalid }" required />
                        </div>
                    </div>
                    <!-- <div class="col-md-12 advance-filter">
                        <div class="title-filter" style="margin-bottom: 10px;">{{'Content'|l}}</div>
                            <textarea id="Training_Point_Update" class="form-control"></textarea>
                        
                    </div> -->
                    <div class="col-md-12 advance-filter">
                        <div class="title-filter" style="margin-bottom: 10px;">{{'Content'|l}}</div>
                            <textarea id="Training_Point_Update" class="form-control"></textarea>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="form-group">
                            <textarea ng-model="ctrl._update_value.content" class="form-control">{{'Content'|l}}</textarea>
                        </div>
                    </div> -->
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'Quantity'|l}} </span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="number" ng-model="ctrl._update_value.quantity" class="form-control" min="0"
                                name="update_quantity"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_quantity.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'Point'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="number" ng-model="ctrl._update_value.point" class="form-control" min="0"
                                name="update_point"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_point.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'RegistrationStartDate'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="datetime-local" ng-model="ctrl._update_value.start_registered_date" class="form-control" 
                                name="update_start_registered_date"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_start_registered_date.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'RegistrationEndDate'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="datetime-local" ng-model="ctrl._update_value.end_registered_date" class="form-control" 
                                name="update_end_registered_date"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_end_registered_date.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'StartDate'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="datetime-local" ng-model="ctrl._update_value.start_date" class="form-control" 
                                name="update_start_date"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_start_date.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'EndDate'|l}}</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'TrainingPoint','update','doing')"
                                type="datetime-local" ng-model="ctrl._update_value.end_date" class="form-control" 
                                name="update_end_date"
                                ng-class="{ 'is-invalid': updateForm_Training_Point.update_end_date.$invalid }" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-save-objname="TrainingPoint" modal-button-save-actionname="update"
                    modal-button-save-invalid="Training_Point_Update.$invalid" modal-button-save-func="ctrl.update()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
        
    </div>
</div>
</div>