<a class="waves-effect ringbell-header-item notify_need_approve_recall" href="/notify?q={{item.params.title}}">
    <i class="fas fa-newspaper"></i>
    <div class="content">
        <div>
            <span>
                <span>{{'Notify'|l}}</span>&nbsp;
                <span class="title">[{{item.params.code}}]&nbsp;{{item.params.title}}</span>&nbsp;
                <span class="text-lowercase">{{'CreatedBy'|l}}</span>&nbsp;
                <show-username-onlyname username="item.params.created_by" without-tooltip="true">
                </show-username-onlyname>
            </span>
        </div>
        <div class="action" ng-switch="item.params.status">
            <span ng-switch-when="ApprovedRecallByDepartmentLeader">
                <i class="fas fa-book"></i>&nbsp;{{'Department leader approved. Need you to review and approve recall notify'|l}}
            </span>
            <span ng-switch-when="PendingRecalled">
                <i class="fas fa-book"></i>&nbsp;{{'Need you to review and approve recall notify'|l}}
            </span>
        </div>
        <div>
            <small class="grey-text">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <time-show time-show-type="long" time-show-data="item.notify_time">
                </time-show>
            </small>
        </div>

    </div>

</a>