<a class="waves-effect ringbell-header-item project_update_info" href="/odb-details?code={{item.params.code}}">
    <i class="fas fa-exclamation"></i>
    <div class="content">
        <div>
            <span >
                <span >{{'DispatchAway'|l}}</span>&nbsp;
                <span class="title" >[{{item.params.code}}]&nbsp;{{item.params.title}}</span>&nbsp;
                <span >{{'is released'|l}}</span>
            </span>
        </div>
        <div>
            <small class="grey-text">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <time-show time-show-type="long" time-show-data="item.notify_time">
                </time-show>
            </small>
        </div>

    </div>

</a>