<a class="waves-effect ringbell-header-item project_update_info" href="/task-details?code={{item.params.taskCode}}">
    <i class="fas fa-exclamation"></i>
    <div class="content">
        <div>
            <show-username-onlyname username="item.params.username_updated_status" without-tooltip="true">
            </show-username-onlyname>
            <span ng-switch="item.params.action">
                <span ng-switch-when="startTask">
                    {{'started task'|l}}
                </span>
                <span ng-switch-when="doneTask">
                    {{'done task'|l}}
                </span>
                <span ng-switch-when="completedTask">
                    {{'marked to completed task'|l}}
                </span>
                <span ng-switch-when="cancelTask">
                    {{'cancel task'|l}}
                </span>
            </span>
            <span class="title">[{{item.params.taskCode}}]&nbsp;{{item.params.title}}</span>
        </div>

        <div>
            <small class="grey-text">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <time-show time-show-type="long" time-show-data="item.notify_time">
                </time-show>
            </small>
        </div>

    </div>

</a>