<a class="waves-effect ringbell-header-item project_update_info" href="/signing-details?code={{item.params.code}}">
    <i class="fas fa-exclamation"></i>
    <div class="content">
        <div>
            <span>
                <show-username-onlyname username="item.params.actionBy" without-tooltip="true">
                </show-username-onlyname>
                <span >{{'has forwarded'|l}}</span>
                <span>{{'Signature WF'|l}}</span>
                <span class="title" >[{{item.params.code}}]&nbsp;{{item.params.title}}</span>
                <span>{{'to'|l}}</span>
                <show-username-onlyname username="item.params.assignee" without-tooltip="true">
                </show-username-onlyname>
                <span>{{'for signature by authority'|l}}</span>
            </span>
        </div>

        <div>
            <small class="grey-text">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <time-show time-show-type="long" time-show-data="item.notify_time">
                </time-show>
            </small>
        </div>
    </div>
</a>