<div class="modal fade" id="modal_Question_Delete" role="dialog" tabindex="-1">
    <div class="modal-dialog" >
        <div class="modal-content">
            <modal-header modal-header-title="{{'Alert'|l }}"></modal-header>
            <div class="modal-body">
                {{'DoYouWantDeleteTask'|l:{title:ctrlChild._delete_value.question} }}
            </div>
            <div class="modal-footer">
                <modal-button-delete modal-button-delete-ctrlname="{{ctrlChild._ctrlName}}"
                    modal-button-delete-objname="QuestionAnswer" modal-button-delete-actionname="delete"
                    modal-button-delete-func="ctrlChild.delete()">
                </modal-button-delete>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>