<div class="modal fade" tabindex="-1" role="dialog" id="modal_Student_Question_Update">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="Trả lời câu hỏi của sinh viên"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal" name="updateForm">
                    <div class="row part">
                        <div class="form-group col-md-12">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span>
                                </div>
                                <input ng-disabled="true"
                                    type="text" ng-model="ctrl._update_value.question" class="form-control"
                                    name="update_title" placeholder="{{'InputTitle'|l}}
                                    ng-class="{ 'is-invalid': updateForm.update_title.$invalid }" required />
                            </div>
                        </div>
                    </div>
                    <div class="row part">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea ng-model="ctrl._update_value.answer" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-save-objname="QuestionAnswer" modal-button-save-actionname="updateStudentQuestionDetails"
                    modal-button-save-invalid="!ctrl._update_value.question || !ctrl._update_value.answer"
                    modal-button-save-func="ctrl.update_student_question()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>