<div class="modal fade" id="modal_CardMnanagement_Delete" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <modal-header modal-header-title="{{'Alert'|l }}"></modal-header>
      <div class="modal-body">
        {{'DoYouWantDelete'|l:{title:(ctrlCard._delete_value.title[$root.Language.current])}
        }}
      </div>
      <div class="modal-footer">
        <modal-button-delete
          modal-button-delete-ctrlname="{{ctrlCard._ctrlName}}"
          modal-button-delete-objname="CardManagement"
          modal-button-delete-actionname="delete"
          modal-button-delete-func="ctrlCard.delete()"
        >
        </modal-button-delete>
        <modal-button-close></modal-button-close>
      </div>
    </div>
  </div>
</div>
