<div class="modal fade" id="modal_Task_Cancel" role="dialog" tabindex="-1">
    <div class="modal-dialog" >
        <div class="modal-content">
            <modal-header modal-header-title="Huỷ bỏ công việc"></modal-header>
            <div class="modal-body">
                {{'Are you sure you want to cancel this task?'|l}} <br>
                {{'CancellationReason'|l}}:
                <textarea id="cancelTask_content" class="custom-input pt-2" type="text"></textarea>
            </div>
            <div class="modal-footer">
                <modal-button-cancel modal-button-cancel-ctrlname="{{ctrl._ctrlName}}"
                                     modal-button-cancel-objname="Task" modal-button-cancel-actionname="cancel"
                                     modal-button-cancel-func="ctrl.canceltask()">
                </modal-button-cancel>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>
