<div class="modal fade" id="modal_CarRegistration_Assess" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <modal-header modal-header-title="{{'ProcessRegistration'|l }}"></modal-header>
      <div class="modal-body">
        <div class="card">
          <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">
            <table class="col-md-12">
              <tr>
                <td class="font-weight-bolder">{{'Title'|l}}</td>
                <td colspan="3">{{ctrlChild._assess_registration_value.title}}</td>
              </tr>
              <tr>
                <td class="font-weight-bolder">
                  {{'Starting place'|l}}
                </td>
                <td>
                  <get-field-directory id-value="ctrlChild._assess_registration_value.starting_place" extend="ctrlChild.location_config"
                    localization="true"></get-field-directory>
                </td>
                <td class="font-weight-bolder">{{'Destination'|l}}</td>
                <td>{{ctrlChild._assess_registration_value.destination}}</td>
              </tr>

              <tr>
                <td class="font-weight-bolder">{{'Department'|l}}</td>
                <td><span ng-repeat="de in ctrlChild._assess_registration_value.to_department_titles">{{de[$root.Language.current]}}. &nbsp;</span>
                </td>
                <td class="font-weight-bolder">{{'Number of people'|l}}</td>
                <td>{{ctrlChild._assess_registration_value.number_of_people}}</td>
              </tr>
              <tr>

                <td class="font-weight-bolder">{{'Passenger'|l}}</td>
                <td colspan="3">
                  <span ng-repeat="item in ctrlChild._assess_registration_value.passenger track by $index"
                    ng-if="ctrlChild._assess_registration_value.passenger.length>=4">
                    <show-username username="item" hide-image="true" ng-if="$index<5">
                    </show-username>&nbsp;&nbsp;
                    <span ng-if="$index==5">,...</span>
                  </span>
                  <span ng-repeat="item in ctrlChild._assess_registration_value.passenger track by $index"
                    ng-if="ctrlChild._assess_registration_value.passenger.length<4">
                    <show-username username="item" hide-image="true">
                    </show-username>&nbsp;&nbsp;
                  </span>
                </td>
              </tr>
              <tr>

                <td class="font-weight-bolder">{{'Time to go'|l}}</td>
                <td><time-show time-show-data="ctrlChild._assess_registration_value.time_to_go" time-show-type="long">
                  </time-show></td>
                <td class="font-weight-bolder">{{'Pick up time'|l}}</td>
                <td><time-show time-show-data="ctrlChild._assess_registration_value.pick_up_time" time-show-type="long">
                  </time-show></td>
              </tr>
              <tr class="font-weight-bolder">
                <td>{{'Content'|l}}</td>
                <td colspan="3">{{ctrlChild._assess_registration_value.content}}</td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Attachment'|l}}</td>
                <td colspan="3">
                  <attachment-show ng-repeat="at in ctrlChild._assess_registration_value.attachments" attachment-show-item="at"
                    attachment-show-func="ctrlChild.loadfile_car(params)"
                    attachment-show-params="{id:ctrlChild._assess_registration_value._id, code:ctrlChild._assess_registration_value.code, name:at.name}"
                    attachment-show-service-name="'car_management'"></attachment-show>
                  <span ng-if="ctrlChild._assess_registration_value.attachments.length ==0" class="no-data">
                    {{'NoData'|l}}
                  </span>
                </td>
              </tr>
              <tr ng-if="ctrlChild._assess_registration_value.showProtocal">
                <td class="font-weight-bolder">
                  {{'Transportation allowance'|l}}
                </td>
                <td colspan="3">
                  <div ng-if="ctrlChild._assess_registration_value.assign_card" class="font-weight-bolder">{{'Assign a credit card'|l}}</div>
                  <div ng-if="!ctrlChild._assess_registration_value.assign_card" class="font-weight-bolder">{{'Assign a car'|l}}</div>
                </td>
              </tr>
              
              <tr ng-if="!ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.assign_card">
                <td class="font-weight-bolder">
                  {{'Type|l}}
                </td>
                <td colspan="3">{{ctrlChild._assess_registration_value.type|l}}</td>
              </tr>
              <tr ng-if="!ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.car">
                <td class="font-weight-bolder">
                  {{'Car'|l}}
                </td>
                <td colspan="3">
                  <get-field-directory
                    id-value="ctrlChild._assess_registration_value.car"
                    extend="ctrlChild.vehicle_list_config"
                    localization="true"
                  />
                </td>
              </tr>

              <tr ng-if="!ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.driver">
                <td class="font-weight-bolder">{{'Driver'|l}}</td>
                <td>
                  {{ctrlChild._assess_registration_value.driver_detail.fullname}}
                </td>
                <td class="font-weight-bolder">{{'PhoneNumber'|l}}</td>
                <td>
                  {{ctrlChild._assess_registration_value.driver_detail.phonenumber}}
                </td>
              </tr>

              <tr ng-if="!ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.card">
                <td class="font-weight-bolder">
                  {{'CreditCard'|l}}</td>
                </td>
                <td colspan="3">
                  <get-field-directory
                    id-value="ctrlChild._assess_registration_value.card"
                    extend="ctrlChild.card_list_config"
                    localization="true"
                  />
                </td>
              </tr>

              <!-- Start edit car and card -->
              <tr ng-if="ctrlChild._assess_registration_value.edit_car_card && (ctrlChild._assess_registration_value.car || ctrlChild._assess_registration_value.card)">
                <td class="font-weight-bolder">{{'Type'|l}}</td>
                <td>
                  <div>
                    <label style="user-select: none; cursor: pointer;" for="assess-type-car">
                      <input type="radio" ng-model="ctrlChild._assess_registration_value.type" value="car" id="assess-type-car">
                      {{'Assign a car'|l}}
                    </label>
                    &nbsp;&nbsp;
                    <label style="user-select: none; cursor: pointer;" for="assess-type-card">
                      <input type="radio" ng-model="ctrlChild._assess_registration_value.type" value="card" id="assess-type-card">
                      {{'Assign a credit card'|l}}
                    </label>
                  </div>
                </td>
              </tr>
              
              <tr ng-if="ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.type==='car'">
                <td class="font-weight-bolder">{{'Car'|l}}</td>
                <td colspan="3">
                  <pick-modal-directory
                    extend="ctrlChild.vehicle_list_config"
                    id-value="ctrlChild._assess_registration_value.car"
                    pick-func="ctrlChild.pick_vehicle_assess(params)"
                  />
                </td>
              </tr>
              <tr ng-if="ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.type==='car'">
                <td class="font-weight-bolder">{{'Driver'|l}}</td>
                <td>
                  <button-select
                    button-select-data="ctrlChild.driverList"
                    button-select-func="ctrlChild.pick_driver_car(params)"
                    button-select-model="ctrlChild._assess_registration_value.driverData"
                    button-select-key="title"
                  />

                </td>
                <td class="font-weight-bolder">{{'PhoneNumber'|l}}
                <td>
                  <span>{{ctrlChild._assess_registration_value.driver_detail.phonenumber}}</span>
                </td>
              </tr>
              <tr ng-if="ctrlChild._assess_registration_value.edit_car_card && ctrlChild._assess_registration_value.type==='card'" >
                <td class="font-weight-bolder">{{'CreditCard'|l}}</td>
                <td colspan="3">
                  <pick-modal-directory
                    extend="ctrlChild.card_list_config"
                    id-value="ctrlChild._assess_registration_value.card"
                    pick-func="ctrlChild.pick_card_assess_car(params)"
                  />
                  </td>
              </tr>
              <!-- end edit car and car -->

              <tr ng-if="ctrlChild._assess_registration_value.money">
                <td class="font-weight-bolder">{{'AmountSpent'|l}}</td>
                <td>{{ ctrlChild._assess_registration_value.money|currencyFormat:'VND' }}</td>
                <td class="font-weight-bolder">{{'Km'|l}}</td>
                <td>{{ ctrlChild._assess_registration_value.number_km }}</td>
              </tr>
              <tr ng-if="ctrlChild._assess_registration_value.invoices">
                <td class="font-weight-bolder">{{'Invoices'|l}}</td>
                <td colspan="3">
                  <attachment-show ng-repeat="at in ctrlChild._assess_registration_value.invoices" attachment-show-item="at"
                    attachment-show-func="ctrlChild.loadfileInvoice_car(params)"
                    attachment-show-params="{id:ctrlChild._assess_registration_value._id, code:ctrlChild._assess_registration_value.code, name:at.name}"
                    attachment-show-service-name="'car_management'"></attachment-show>
                </td>
              </tr>
            </table>


          </div>
        </div>
        <form class="form-horizontal" name="assessForm">

          <div class="card" ng-if="ctrlChild._assess_registration_value.return_card || ctrlChild._assess_registration_value.showChooseProtocal">
            <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">

              <div class="col-6" ng-if="ctrlChild._assess_registration_value.return_card">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new font-weight-bolder">{{'TheAmountSpent'|l}}</span>
                    <span class="require-sympton" ng-show="ctrlChild._assess_registration_value.note_required">*</span>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">đ</span>
                      </div>
                      <input ng-model="ctrlChild._assess_registration_value.return_card_value.money" type="number" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6" ng-if="ctrlChild._assess_registration_value.return_card">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new font-weight-bolder">{{'NumberKm'|l}}</span>
                    <span class="require-sympton" ng-show="ctrlChild._assess_registration_value.note_required">*</span>
                  </div>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Km</span>
                      </div>
                      <input ng-model="ctrlChild._assess_registration_value.return_card_value.km" type="number" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" style="border-right: 1px solid #eee" ng-if="ctrlChild._assess_registration_value.return_card">
                <table class="diskuf-selector-table wd-fa-add-file-light-table mb-3">
                  <tbody>
                    <tr>
                      <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main" colspan=" 0">
                        <div class="diskuf-uploader">
                          <span class="wd-fa-add-file-light">
                            <span class="wd-fa-add-file-light-text">
                              <span class="wd-fa-add-file-light-title">
                                <span class="wd-fa-add-file-light-title-text">{{'UploadFileInvoice'|l}}</span>
                              </span>
                              <span class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                            </span>
                          </span>
                          <input class="diskuf-fileUploader wd-test-file-light-inp" type="file"
                            file-reading="ctrlChild._assess_registration_value.return_card_value.invoices" size="1" multiple style="width: 100%" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <td>#</td>
                        <td>{{'Attachment'|l}}</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in ctrlChild._assess_registration_value.return_card_value.invoices">
                        <td>{{$index+1}}</td>
                        <td>
                          <attachment-just-show my-item="item"></attachment-just-show>
                        </td>
                        <td>
                          <i class="fas fa-times text-danger" ng-click="ctrlChild._assess_registration_value.removeInvoice(item)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
              <div class="col-md-12" ng-if="ctrlChild._assess_registration_value.return_card">
                <div class="form-check" style="font-size: 1.2rem;">
                  <input ng-model="ctrlChild._assess_registration_value.return_card_value.truth"  type="checkbox" class="form-check-input" id="checkTruth" required>
                  <label class="form-check-label" for="checkTruth">{{'ICertifyThatTheAboveStatementsAreTrue'|l}}</label>
                </div>
              </div>

              <div class="col-md-12" ng-if="ctrlChild._assess_registration_value.showChooseProtocal">
                <div>
                  <label>
                    <input type="radio" ng-model="ctrlChild._assess_registration_value.type" value="car">
                    {{'Assign a car'|l}}
                  </label>
                  &nbsp;&nbsp;
                  <label>
                    <input type="radio" ng-model="ctrlChild._assess_registration_value.type" value="card">
                    {{'Assign a credit card'|l}}
                  </label>
                </div>
              </div>
              <div class="col-md-6" ng-if="ctrlChild._assess_registration_value.showChooseProtocal && ctrlChild._assess_registration_value.type ==='car'">
                <div class="form-group">
                  <pick-modal-directory
                    extend="ctrlChild.vehicle_list_config"
                    id-value="ctrlChild._assess_registration_value.car"
                    pick-func="ctrlChild.pick_vehicle_car(params)"
                    label="{{'Car'|l}}"
                    require="true"
                  />
                </div>
              </div>
              <div class="col-md-6" ng-if="ctrlChild._assess_registration_value.showChooseProtocal && ctrlChild._assess_registration_value.type ==='car'">
                <div class="form-group">
                  <button-select
                    button-select-label="{{'Driver'|l}}"
                    button-select-data="ctrlChild.driverList"
                    button-select-func="ctrlChild.pick_driver_car(params)"
                    button-select-model="ctrlChild._assess_registration_value.driverData"
                    button-select-key="title" require="true"
                  />
                </div>
              </div>
              <div class="col-md-12" ng-if="ctrlChild._assess_registration_value.showChooseProtocal && ctrlChild._assess_registration_value.type ==='card'">
                <div class="form-group">
                  <pick-modal-directory 
                    extend="ctrlChild.card_list_config" 
                    id-value="ctrlChild._assess_registration_value.card"
                    filter="ctrlChild.filterCardCredit"
                    pick-func="ctrlChild.pick_card_assess_car(params)" 
                    label="{{'CreditCard'|l}}" 
                    require="true"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="input-group-new">
              <div class="input-group-prepend-new">
                <span class="input-group-text-new">{{'Note'|l}}</span>
                <span class="require-sympton" ng-show="ctrlChild._assess_registration_value.note_required">*</span>
              </div>
              <div class="form-group mb-0">
                <text-area-with-suggestions ng-model="ctrlChild._assess_registration_value.note"
                  ng-required="ctrlChild._assess_registration_value.note_required"
                  placeholder="{{ctrlChild._assess_registration_value.note_placeholder}}"></text-area-with-suggestions>
              </div>
              <div>
                <span 
                  class="badge badge-light m-1" 
                  style="cursor: pointer; font-size: 0.8rem; font-weight: 400;"
                  ng-repeat="hint in ctrlChild._hintNoteSet"
                  ng-click="ctrlChild.set_hint_note(hint)"
                > 
                  {{hint|l}}
                </span>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer" ng-switch="ctrlChild._assess_registration_value.action">
        <modal-button-reject
          ng-switch-when="reject_card_management"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="CarManagement"
          modal-button-reject-actionname="reject_card_management"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_card_management()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />
        <modal-button-reject
          ng-switch-when="reject_lead"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="CarManagement"
          modal-button-reject-actionname="reject_lead"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_lead_car()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-reject
          ng-switch-when="reject_car_management"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="CarManagement"
          modal-button-reject-actionname="reject_car_management"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_car_management_car()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-reject
          ng-switch-when="reject_department"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="CarManagement"
          modal-button-reject-actionname="reject_department"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_department_car()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="creator_receive_card"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="creator_receive_card"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.creator_receive_card_car()"
          modal-button-confirm-text="{{'AreYouSureConfirmReceiveCardCreditThisRegistration'}}"
          modal-button-approval-label="{{'ConfirmReceiveCard'|l}}"
        />

        <modal-button-approval
          ng-switch-when="creator_return_card"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="creator_return_card"
          modal-button-approval-invalid="assessForm.$invalid||!ctrlChild._assess_registration_value.return_card_value.truth"
          modal-button-approval-func="ctrlChild.creator_return_card_car()"
          modal-button-confirm-text="{{'AreYouSureConfirmReturnCardCarThisRegistration'}}"
          modal-button-approval-label="{{'ReturnCard'|l}}"
        />

        <modal-button-approval
          ng-switch-when="manager_receive_card"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="manager_receive_card"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.manager_receive_card_car()"
          modal-button-confirm-text="{{'AreYouSureConfirmReceiveCardCreditThisRegistration'}}"
          modal-button-approval-label="{{'card_receive_tooltip'|l}}"
        />

        <modal-button-approval
          ng-switch-when="approve_lead"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="approve_lead"
          modal-button-approval-invalid="assessForm.$invalid || (ctrl._assess_value.type === 'car' && !ctrl._assess_value.driver)"
          modal-button-approval-func="ctrlChild.approve_lead_car()"
          modal-button-confirm-text="{{'AreYouSureApproveThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_car_management"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="approve_car_management"
          modal-button-approval-invalid="assessForm.$invalid || (ctrl._assess_value.type === 'car' && !ctrl._assess_value.driver)"
          modal-button-approval-func="ctrlChild.approve_car_management_car()"
          modal-button-confirm-text="{{'AreYouSureApproveThisRegistration'}}"
        />
    
        <modal-button-approval
          ng-switch-when="approve_lead_external"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="CarManagement"
          modal-button-approval-actionname="approve_lead_external"
          modal-button-approval-invalid="false"
          modal-button-approval-func="ctrlChild.approve_lead_external_car()"
          modal-button-confirm-text="{{'AreYouSureApproveThisRegistration'}}"
        />

        <modal-button-reject 
          ng-switch-when="reject_lead_external" 
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="CarManagement" 
          modal-button-reject-actionname="reject_lead_external"
          modal-button-reject-invalid="assessForm.$invalid" 
          modal-button-reject-func="ctrlChild.reject_lead_external_car()"
          modal-button-confirm-text="{{'AreYouSureCancelThisRegistration'}}"
          modal-button-reject-label="{{'Cancel'|l}}"
        />
        <modal-button-close></modal-button-close>
      </div>
    </div>
  </div>
</div>
