<div class="modal fade" id="modal_EventCalendarRegistration_Assess" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <modal-header modal-header-title="{{'ProcessRegistration'|l }}"></modal-header>
      <div class="modal-body">
        <div class="card">
          <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">
            <table class="col-md-12">
              <tr>
                <td class="font-weight-bolder">
                  {{'Title'|l}}
                </td>
                <td colspan="3">
                  {{ ctrlChild._assess_registration_value.title }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Type'|l}}</td>
                <td>{{ ctrlChild._assess_registration_value.type|l }}</td>
                <td class="font-weight-bolder">{{'LevelEvent'|l}}</td>
                <td>{{ ctrlChild._assess_registration_value.level|l }}</td>
              </tr>

              <tr>
                <td class="font-weight-bolder">{{'Start date'|l}}</td>
                <td>
                  <time-show time-show-type="long" time-show-data="ctrlChild._assess_registration_value.start_date" />
                </td>
                <td class="font-weight-bolder">{{'End date'|l}}</td>
                <td>
                  <time-show time-show-type="long" time-show-data="ctrlChild._assess_registration_value.start_date" />
                </td>
              </tr>
              <tr>

                <td class="font-weight-bolder">{{'HostPerson'|l}}</td>
                <td colspan="3">
                  <show-username-onlyname username="ctrlChild._assess_registration_value.main_person" hide-image="true" />
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Participant'|l}}</td>
                <td colspan="3">
                  <span
                    ng-repeat="n in ctrlChild._assess_registration_value.participants"
                    class="p-1 ml-2 mt-1"
                    style="font-size: 0.7rem ;color: #3e4042;background-color: #dde2e4; border-radius: 5px; text-align: center; text-wrap: nowrap;"
                  >
                    <show-username-onlyname
                      hide-image="true"
                      username="n"
                    ></show-username-onlyname>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'ParticipateDepartments'|l}}</td>
                <td colspan="3">
                  <span
                    ng-repeat="department in ctrlChild._assess_registration_value.departments"
                    class="p-1 ml-2 mt-1"
                    style="font-size: 0.7rem ;color: #3e4042;background-color: #dde2e4; border-radius: 5px; text-align: center; text-wrap: nowrap;"
                  >
                    <show-department
                      department="department"
                    ></show-department>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Content'|l}}</td>
                <td colspan="3">{{ctrlChild._assess_registration_value.content}}</td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Attachment'|l}}</td>
                <td colspan="3">
                  <attachment-show ng-repeat="at in ctrlChild._assess_registration_value.attachments" attachment-show-item="at"
                    attachment-show-func="ctrlChild.loadfileEventCalendar(params)"
                    attachment-show-params="{id:ctrlChild._assess_registration_value._id, code:ctrlChild._assess_registration_value.code, name:at.name}"
                    attachment-show-service-name="'car_management'"></attachment-show>
                  <span ng-if="ctrlChild._assess_registration_value.attachments.length ==0" class="no-data">
                    {{'NoData'|l}}
                  </span>
                </td>
              </tr>
            </table>


          </div>
        </div>
        <form class="form-horizontal" name="assessForm">
          <div class="card">
            <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">
              <div class="col-md-12">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'Note'|l}}</span>
                    <span class="require-sympton" ng-show="ctrlChild._assess_registration_value.note_required">*</span>
                  </div>
                  <div class="form-group">
                    <text-area-with-suggestions ng-model="ctrlChild._assess_registration_value.note"
                      ng-required="ctrlChild._assess_registration_value.note_required"
                      placeholder="{{ctrlChild._assess_registration_value.note_placeholder}}"></text-area-with-suggestions>
                  </div>
                  <div>
                    <span 
                      class="badge badge-light m-1" 
                      style="cursor: pointer; font-size: 0.8rem; font-weight: 400;"
                      ng-repeat="hint in ctrlChild._hintNoteSet"
                      ng-click="ctrlChild.set_hint_note(hint)"
                    > 
                      {{hint|l}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer" ng-switch="ctrlChild._assess_registration_value.action">
        <modal-button-approval
          ng-switch-when="approve_department"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_department"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.approve_department_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureApprovalThisRegistration'}}"
          modal-button-approval-label="{{'Approval'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_department"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_department"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_department_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_host"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_host"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.approve_host_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureApprovalThisRegistration'}}"
          modal-button-approval-label="{{'Approval'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_host"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_host"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_host_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_recall_department"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_recall_department"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.approve_recall_department_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureApprovalRecallThisRegistration'}}"
          modal-button-approval-label="{{'ApproveRecall'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_recall_department"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_recall_department"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_recall_department_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureRejectRecallThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_recall_host"
          modal-button-approval-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_recall_host"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrlChild.approve_recall_host_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureApprovalRecallThisRegistration'}}"
          modal-button-approval-label="{{'ApproveRecall'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_recall_host"
          modal-button-reject-ctrlname="{{ctrlChild._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_recall_host"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrlChild.reject_recall_host_event_calendar()"
          modal-button-confirm-text="{{'AreYouSureRejectRecallThisRegistration'}}"
        />

        <modal-button-close></modal-button-close>
    </div>
  </div>
</div>
