<div  ng-controller="meeting_room_controller as ctrl">
    <div >
        <div class="form-group row">
            <button-new ng-show="['Office.MeetingRoom.Use']|checkRule"
                button-new-func="ctrl.prepareInsert()" button-new-label="{{'New'|l}}"
                button-new-modal="#modal_MeetingRoom_Insert">
            </button-new>
        </div>
        <more-option-bar>
            <bar-content class="row">
                <div class="col-md-3 form-group">
                    <button-select button-select-label="{{'Display'|l}}" button-select-data="[1,30,50,100]"
                        button-select-disabled="$root.statusValue.get(ctrl._ctrlName,'MeetingRoom','load','doing')"
                        button-select-func="ctrl.chooseNumberItem(params)"
                        button-select-model="ctrl.numOfItemPerPage">
                    </button-select>
                </div>
            </bar-content>
        </more-option-bar>
        <button-search
            button-search-func="ctrl.refreshData()"
            button-search-start="ctrl._notyetInit"
            button-search-model="ctrl._searchByKeyToFilterData">
        </button-search>
        <my-Async async-ctrlname="{{ctrl._ctrlName}}" async-objname="MeetingRoom" async-actionname="load">
            <async-success>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" datatable>
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    {{'RoomCode'|l}}
                                    <order order-func="ctrl.refreshData_Room()" order-model="ctrl.sort"
                                        order-name="code"></order>
                                </th>
                                <th>
                                    {{'RoomName'|l}}
                                    <order order-func="ctrl.refreshData_Room()" order-model="ctrl.sort"
                                        order-name="title"></order>
                                </th>
                                <th>
                                    {{'Type'|l}}
                                    <order order-func="ctrl.refreshData_Room()" order-model="ctrl.sort"
                                        order-name="title"></order>
                                </th>
                                <th>
                                    {{'Size'|l}}
                                    <order order-func="ctrl.refreshData_Room()" order-model="ctrl.sort"
                                        order-name="size"></order>
                                </th>
                                <th>
                                    {{'Status'|l}}
                                    <order order-func="ctrl.refreshData_Room()" order-model="ctrl.sort"
                                        order-name="isactive"></order>
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                ng-repeat="item in ctrl.listRooms|orderBy:ctrl.sort.name:ctrl.sort.value track by $index">
                                <td>
                                    <strong> {{ $index +1 }}</strong>
                                </td>
                                <td>
                                    {{ item.code }}
                                </td>
                                <td>
                                    {{ item.title[$root.Language.current] }}
                                </td>
                                <td>
                                    {{ item.room_type|l }}
                                </td>
                                <td>
                                    {{ item.size }} {{'person'|l}}
                                </td>
                                <td>
                                    <isuse isuse-value="item.isactive"></isuse>
                                </td>
                                <td>
                                    <button-edit-item ng-show="['Office.MeetingRoom.Use']|checkRule"
                                        button-edit-item-modal="#modal_MeetingRoom_Update"
                                        button-edit-item-func="ctrl.prepareUpdate(params)"
                                        button-edit-item-params="item">
                                    </button-edit-item>
                                    <button-delete-item
                                        ng-show="['Office.MeetingRoom.Use']|checkRule"
                                        button-delete-item-modal="#modal_MeetingRoom_Delete"
                                        button-delete-item-func="ctrl.prepareDelete(params)"
                                        button-delete-item-params="item">
                                    </button-delete-item>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="ctrl.listRooms.length ==0" class="no-data">
                    {{'NoData'|l}}
                </div>
                <pagination pagination-ctrlname="{{ctrl._ctrlName}}" pagination-objname="MeetingRoom"
                    pagination-actionname="count" pagination-currentpage="ctrl.currentPage"
                    pagination-noi="ctrl.numOfItemPerPage" pagination-total="ctrl.totalItems"
                    pagination-func="ctrl.load_room(params)"></pagination>
            </async-success>
        </my-Async>
        <!-- Start Modal include -->
        <div ng-include="ctrl._urlInsertModal"></div>
        <div ng-include="ctrl._urlUpdateModal"></div>
        <div ng-include="ctrl._urlDeleteModal"></div>
        <!-- End Modal include -->
    </div>
</div>