<div class="modal fade" tabindex="-1" role="dialog" id="modal_menu_insert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'InsertMenu'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <button-radio
                            button-radio-params="[{ label: 'Component', val: 'component' }, { label: 'Url', val: 'url' }]"
                            button-radio-model="ctrl._insertMenu_value.type"
                            button-radio-func="ctrl.changeInsertMenuType(params)"></button-radio>
                    </div>
                </form>
                <form class="form-horizontal" name="insertMenuForm_Common">
                    <div class="form-group">
                        <my-async async-ctrlname="{{ctrl._ctrlName}}" async-objname="Menu"
                            async-actionname="getOrderNumberForInsert">
                            <async-success>
                                <div class="input-group-new">
                                    <div class="input-group-prepend-new">
                                        <span class="input-group-text-new">{{'OrderNumber'|l}}</span>
                                        <span class="require-sympton">*</span>
                                    </div>
                                    <input
                                        ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsComponent','doing')"
                                        type="number" ng-model="ctrl._insertMenu_value.ordernumber" class="form-control"
                                        name="insertMenu_ordernumber" vld-sync
                                        vld-sync-func="$root.validate.min(model,params)" vld-sync-params="{min:1}"
                                        ng-class="{ 'is-invalid': insertMenuForm_Common.insertMenu_ordernumber.$invalid }"
                                        required />
                                </div>
                                <invalid invalid-status="insertMenuForm_Common.insertMenu_ordernumber.$error.vldsync">
                                    {{'AtLeast'|l:({title:1})}}.
                                </invalid>
                            </async-success>
                        </my-async>
                    </div>
                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'Title'|l}}</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsComponent','doing')"
                                type="text" ng-model="ctrl._insertMenu_value.title['vi-VN']" class="form-control"
                                name="insert_title_vi" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': insertMenuForm_Common.insert_title_vi.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'Title'|l}}(en)</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsComponent','doing')"
                                type="text" ng-model="ctrl._insertMenu_value.title['en-US']" class="form-control"
                                name="insert_title_en" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': insertMenuForm_Common.insert_title_en.$invalid }" required />
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" name="insertMenuForm_Component"
                    ng-show="ctrl._insertMenu_value.type == 'component'">
                    <div class="form-group">
                        <button-select button-select-label="{{'Key'|l}}"
                            button-select-data="ctrl.FrontendMaps"
                            button-select-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsComponent','doing')"
                            button-select-func="ctrl.chooseInsertMenuKey(params)"
                            button-select-model="ctrl._insertMenu_value.key" button-select-key="key" button-select-localization="true"></button-select>
                    </div>
                </form>
                <form class="form-horizontal" name="insertMenuForm_Url" ng-show="ctrl._insertMenu_value.type == 'url'">
                    
                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'Url'|l}}</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input type="text" name="insertMenu_url" class="form-control"
                                ng-class="{ 'is-invalid': insertMenuForm_Url.insertMenu_url.$invalid }"
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsUrl','doing')"
                                ng-model="ctrl._insertMenu_value.url" required />
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <input-checkbox input-checkbox-label="{{'IsActive'|l}}"
                            input-checkbox-model="ctrl._insertMenu_value.isactive"
                            input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'Menu','insertAsUrl','doing')">
                        </input-checkbox>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-new ng-if="ctrl._insertMenu_value.type == 'component'"
                    modal-button-new-ctrlname="{{ctrl._ctrlName}}" modal-button-new-objname="Menu"
                    modal-button-new-actionname="insertAsComponent"
                    modal-button-new-invalid="insertMenuForm_Component.$invalid || insertMenuForm_Common.$invalid"
                    modal-button-new-func="ctrl.insertMenuAsComponent_func()">
                </modal-button-new>
                <modal-button-new ng-if="ctrl._insertMenu_value.type == 'url'"
                    modal-button-new-ctrlname="{{ctrl._ctrlName}}" modal-button-new-objname="Menu"
                    modal-button-new-actionname="insertAsUrl"
                    modal-button-new-invalid="insertMenuForm_Url.$invalid || insertMenuForm_Common.$invalid"
                    modal-button-new-func="ctrl.insertMenuAsUrl_func()">
                </modal-button-new>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>