<my-content>
  <content-content>
    <div ng-controller="menu_controller as ctrl">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 card">

          <div class="card-header">
            {{'MenuGroupData'|l}}
          </div>
          <div class="card-body">
            <div class="form-group row">
              <button-new button-new-func="ctrl.prepareInsertMenuGroup()" button-new-label="{{'NewMenuGroup'|l}}"
                button-new-modal="#modal_menugroup_insert">
              </button-new>
            </div>
            <!-- <div class="form-group">
              <button-radio
                button-radio-params="[{ label: 'AdminPage', val: 'admin' }, { label: 'EmployeePage', val: 'employee' }]"
                button-radio-model="ctrl._currentMenuGroup.type"
                button-radio-func="ctrl.changeCurrentMenuGroupType(params)"></button-radio>
            </div> -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>

                    </th>
                    <th>
                      #<order order-model="ctrl.sortMenuGroup" order-name="ordernumber"></order>
                    </th>
                    <th>
                      {{'Title'|l}}
                      <order order-model="ctrl.sortMenuGroup" order-name="title"></order>
                    </th>
                    <th>
                      {{'Status'|l}}
                      <order order-model="ctrl.sortMenuGroup" order-name="isactive"></order>
                    </th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="item in ctrl.MenuGroups|orderBy:ctrl.sortMenuGroup.name:ctrl.sortMenuGroup.value">
                    <td ng-click="ctrl.chooseCurrentMenuGroup(item)">
                      <i ng-if="item._id === ctrl._currentMenuGroup._id" class="fas fa-chevron-right"></i>
                    </td>
                    <td style="cursor: default" ng-click="ctrl.chooseCurrentMenuGroup(item)">
                      <strong>{{item.ordernumber}}</strong>
                    </td>
                    <td style="cursor: default" ng-click="ctrl.chooseCurrentMenuGroup(item)">
                      <span ng-bind-html="item.icon"></span>
                      {{item.title[$root.Language.current]}}
                    </td>
                    <td style="cursor: default" ng-click="ctrl.chooseCurrentMenuGroup(item)">
                      <isactive isactive-value="item.isactive"></isactive>
                    </td>
                    <td>
                      <button-edit-item button-edit-item-modal="#modal_menugroup_update"
                        button-edit-item-func="ctrl.prepareUpdateMenuGroup(params)" button-edit-item-params="item">
                      </button-edit-item>
                      <button-delete-item button-delete-item-modal="#modal_menugroup_delete"
                        button-delete-item-func="ctrl.prepareDeleteMenuGroup(params)" button-delete-item-params="item">
                      </button-delete-item>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div ng-if="ctrl.MenuGroups.length ==0" class="no-data">
              {{'NoData'|l}}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 card">

          <div class="card-header">
            {{'MenuData'|l}}
          </div>

          <div class="card-body">
            <div class="form-group row">
              <button-new button-new-func="ctrl.prepareInsertMenu()" button-new-label="{{'NewMenu'|l}}"
                button-new-modal="#modal_menu_insert">
              </button-new>
            </div>
            <div class="form-group row" ng-if="ctrl._checkActive">
              <button-checkbox button-checkbox-label="{{'Active'|l}}"
                button-checkbox-func="ctrl.changeActiveFilterMenuData(params)"
                button-checkbox-model="ctrl._activeFilterMenuData"></button-checkbox>
            </div>


            <button-search button-search-func="ctrl.loadMenu()" button-search-start="ctrl._notyetInit"
              button-search-model="ctrl._searchByKeyToFilterMenuData">
              <button-moreop button-moreop-modal="#modal_menu_filtermenu"></button-moreop>
            </button-search>

            <my-Async async-ctrlname="{{ctrl._ctrlName}}" async-objname="Menu" async-actionname="load">
              <async-success>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          #<order order-model="ctrl.sortMenu" order-name="ordernumber"></order>
                        </th>
                        <th>
                          {{'Title'|l}}
                          <order order-model="ctrl.sortMenu" order-name="key"></order>
                        </th>
    
                        <th>
                          {{'Status'|l}}
                          <order order-model="ctrl.sortMenu" order-name="isactive"></order>
                        </th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="item in ctrl.menus|orderBy:ctrl.sortMenu.name:ctrl.sortMenu.value">
                        <td>
                          <strong>{{item.ordernumber}}</strong>
                        </td>
                        <td>
                          {{item.title[$root.Language.current]}}
                        </td>
                        <td>
                          <isactive isactive-value="item.isactive"></isactive>
                        </td>
                        <td>
                          <button-edit-item button-edit-item-modal="#modal_menu_update"
                            button-edit-item-func="ctrl.prepareUpdateMenu(params)" button-edit-item-params="item">
                          </button-edit-item>
                          <button-delete-item button-delete-item-modal="#modal_menu_delete"
                            button-delete-item-func="ctrl.prepareDeleteMenu(params)" button-delete-item-params="item">
                          </button-delete-item>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-if="ctrl.menus.length ==0" class="no-data">
                  {{'NoData'|l}}
                </div>
              </async-success>
            </my-Async>
          </div>

        </div>
      </div>
      <div ng-include="ctrl._urlMenuFilterModal" include-replace></div>
      <div ng-include="ctrl._urlInsertMenuGroupModal" include-replace></div>
      <div ng-include="ctrl._urlInsertMenuModal" include-replace></div>
      <div ng-include="ctrl._urlUpdateMenuGroupModal" include-replace></div>
      <div ng-include="ctrl._urlUpdateMenuModal" include-replace></div>
      <div ng-include="ctrl._urlDeleteMenuGroupModal" include-replace></div>
      <div ng-include="ctrl._urlDeleteMenuModal" include-replace></div>
    </div>
  </content-content>
</my-content>