<div class="modal fade" tabindex="-1" role="dialog" id="modal_menugroup_update">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'UpdateMenuGroup'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal" name="updateMenuGroupForm">

                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'OrderNumber'|l}}</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input ng-disabled="$root.statusValue.get(ctrl._ctrlName,'MenuGroup','update','doing')"
                                type="number" ng-model="ctrl._updateMenuGroup_value.ordernumber" class="form-control"
                                name="updateMenuGroup_ordernumber" vld-sync
                                vld-sync-func="$root.validate.min(model,params)" vld-sync-params="{min:1}"
                                ng-class="{ 'is-invalid': updateMenuGroupForm.updateMenuGroup_ordernumber.$invalid }"
                                required />
                        </div>
                        <invalid invalid-status="updateMenuGroupForm.updateMenuGroup_ordernumber.$error.vldsync">
                            {{'AtLeast'|l:({title:1})}}.
                        </invalid>
                    </div>

                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'Title'|l}}</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'MenuGroup','update','doing')"
                                type="text" ng-model="ctrl._updateMenuGroup_value.title['vi-VN']" class="form-control"
                                name="insert_title_vi" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': updateMenuGroup_key.insert_title_vi.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new"><span
                                    class="input-group-text-new">{{'Title'|l}} (en)</span>
                                    <span class="require-sympton">*</span>
                            </div>
                            <input
                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'MenuGroup','update','doing')"
                                type="text" ng-model="ctrl._updateMenuGroup_value.title['en-US']" class="form-control"
                                name="update_title_en" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': updateMenuGroup_key.update_title_en.$invalid }" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group-new">
                            <div class="input-group-prepend-new">
                                <span class="input-group-text-new">{{'Icon'|l}}</span>
                                <span class="require-sympton">*</span>
                            </div>
                            <input ng-disabled="$root.statusValue.get(ctrl._ctrlName,'MenuGroup','update','doing')"
                                type="text" ng-model="ctrl._updateMenuGroup_value.icon" class="form-control"
                                name="updateMenuGroup_icon" placeholder="input icon of group menu"
                                ng-class="{ 'is-invalid': updateMenuGroupForm.updateMenuGroup_icon.$invalid }"
                                required />
                        </div>
                    </div>
                    <div class="form-group">
                        <input-checkbox input-checkbox-label="{{'IsActive'|l}}"
                            input-checkbox-model="ctrl._updateMenuGroup_value.isactive"
                            input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'MenuGroup','update','doing')">
                        </input-checkbox>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrl._ctrlName}}" modal-button-save-objname="MenuGroup"
                    modal-button-save-actionname="update" modal-button-save-invalid="updateMenuGroupForm.$invalid"
                    modal-button-save-func="ctrl.updateMenuGroup_func()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>