<div class="modal fade" tabindex="-1" role="dialog" id="modal_LeaveForm_Insert">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <modal-header modal-header-title="{{'New'|l}}"></modal-header>
      <div class="modal-body">
        <form class="form-horizontal" name="insertForm">
          <div class="card">
            <div class="card-body row" style="border-left: 2px solid #20a8d8">
              <div class="form-group col-md-12">
                <pick-modal-directory
                  extend="ctrl.LeaveFormType_Config"
                  pick-func="ctrl.chooseLFT_insert(params)"
                  id-value="ctrl._insert_value.type"
                  label="{{'Type'|l}}"
                  disable="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                ></pick-modal-directory>
              </div>
              <div class="form-group col-md-6">
                <button-select-nl
                  button-select-label="{{'WorkflowForMe'|l}}"
                  button-select-data="ctrl.WF"
                  id-value="ctrl._insert_value.key"
                  load-details-func="ctrl.loadWorkflow_details(params)"
                  button-select-func="ctrl.chooseWF_insert(params)"
                  button-select-key="title"
                  localization="true"
                  require="true"
                  disable="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                >
                </button-select-nl>
              </div>
              <div class="form-group col-md-6">
                <div class="input-prepend input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{'NumberOfDays'|l}}</span>
                  </div>
                  <input
                    ng-disabled="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                    type="number"
                    ng-model="ctrl._insert_value.number_day"
                    class="form-control"
                    name="insert_number_day"
                    ng-class="{ 'is-invalid': insertForm.insert_number_day.$invalid }"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 form-group">
                <date
                  id-value="ctrl._insert_value.from_date"
                  func="ctrl.chooseFromDate_insert(params)"
                  label="{{'FromDate'|l}}"
                  disabled="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                  required="true"
                ></date>
              </div>
              <div class="col-md-6 form-group">
                <date
                  id-value="ctrl._insert_value.to_date"
                  func="ctrl.chooseToDate_insert(params)"
                  label="{{'ToDate'|l}}"
                  disabled="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                  required="true"
                  endday="true"
                ></date>
              </div>
              <div class="form-group col-md-6">
                <input-checkbox
                  input-checkbox-label="{{'ExceptTimeOnRoad'|l}}"
                  input-checkbox-model="ctrl._insert_value.use_jtf"
                  input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'LeaveForm','insert','doing')"
                >
                </input-checkbox>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body row" style="border-left: 2px solid #20a8d8">
              <div class="col-md-12">{{'Reason'|l}}</div>
              <div
                class="col-md-12"
                style="
                  border-top: 1px solid #eee;
                  margin-bottom: 15px;
                  margin-top: 10px;
                "
              ></div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    id="insertLeaveForm_content"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-6" style="border-right: 1px solid #eee">
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <td>#</td>
                        <td>{{'Attachment'|l}}</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in ctrl._insert_value.files">
                        <td>{{$index+1}}</td>
                        <td>
                          <attachment-just-show
                            my-item="item"
                          ></attachment-just-show>
                        </td>
                        <td>
                          <i
                            class="fas fa-times text-danger"
                            ng-click="ctrl.removeFile_insert(item)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <table class="diskuf-selector-table wd-fa-add-file-light-table">
                  <tbody>
                    <tr>
                      <td
                        class="
                          diskuf-selector
                          wd-fa-add-file-light-cell wd-fa-add-file-from-main
                        "
                        colspan=" 0"
                      >
                        <div class="diskuf-uploader">
                          <span class="wd-fa-add-file-light">
                            <span class="wd-fa-add-file-light-text">
                              <span class="wd-fa-add-file-light-title">
                                <span class="wd-fa-add-file-light-title-text"
                                  >{{'UploadFile'|l}}</span
                                >
                              </span>
                              <span class="wd-fa-add-file-light-descript"
                                >{{'DragTheFileHereToUpload'|l}}</span
                              >
                            </span>
                          </span>
                          <input
                            class="diskuf-fileUploader wd-test-file-light-inp"
                            type="file"
                            file-reading="ctrl._insert_value.files"
                            size="1"
                            multiple
                            style="width: 100%"
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <modal-button-new
          modal-button-new-ctrlname="{{ctrl._ctrlName}}"
          modal-button-new-objname="LeaveForm"
          modal-button-new-actionname="insert"
          modal-button-new-invalid="insertForm.$invalid"
          modal-button-new-func="ctrl.insert()"
        >
        </modal-button-new>
        <modal-button-close></modal-button-close>
      </div>
    </div>
  </div>
</div>
