<div class="modal fade" tabindex="-1" role="dialog" id="modal_Question_Update">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="Chỉnh sửa câu hỏi và câu trả lời thường gặp"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal " name="updateForm">
                    <div class="row part">
                        <div class="form-group col-md-12">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span>
                                </div>
                                <input ng-disabled="$root.statusValue.get(ctrlChild._ctrlName,'Task','update','doing')"
                                    type="text" ng-model="ctrlChild._update_value.title" class="form-control"
                                    name="update_title" placeholder="{{'InputTitle'|l}}"
                                    ng-class="{ 'is-invalid': updateForm.update_title.$invalid }" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">

                                <pick-modal-directory extend="ctrlChild.TaskPriority"
                                    pick-func="ctrlChild.pickPriorityUpdate(params)"
                                    id-value="ctrlChild._update_value.priority" label="{{'Priority'|l}}" require="true">
                                </pick-modal-directory>
                            </div>
                            <div class="form-group">
                                <pick-modal-directory extend="ctrlChild.TaskType"
                                    pick-func="ctrlChild.pickTaskTypeUpdate(params)"
                                    id-value="ctrlChild._update_value.task_type" label="Loại công việc" require="false"
                                    ng-class="{'disabled':ctrlChild.workflow_plays.length > 0}">
                                </pick-modal-directory>
                            </div>
                        </div>
                    </div>
                    <div class="row part">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="insertTask_content" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrlChild._ctrlName}}"
                    modal-button-save-objname="QuestionAnswer" modal-button-save-actionname="update"
                    modal-button-save-invalid="updateForm.$invalid  || ctrlChild.toDate_ErrorMsg || ctrlChild.fromDate_ErrorMsg"
                    modal-button-save-func="ctrlChild.update()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>