<style>
    .modal-footer .btn-outline-danger{
        font-size: .9rem !important;
        padding: 6px 12px !important;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="notify_approve_modal">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{ctrl._approve_value.allowApprove_recall ? ('Approve Recall'|l) : ('ApproveForm'|l)}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal " name="approveForm">
                    <div class="card">
                        <div class="card-body row" style="border-left:2px solid #20a8d8">
                            <div class="form-group col-md-12" style="margin: 0;">
                                <label class="input-group-text-new mb-0"><strong>{{'Title' | l}}:</strong></label>
                                <span>{{ctrl._approve_value.title}}</span>
                            </div>
                            <div class="form-group col-md-12 py-1" style="margin: 0;" ng-if="ctrl._approve_value.recall_reason">
                                <label class="input-group-text-new mb-0"><strong>{{'RecallReason' | l}}:</strong></label>
                                <span style="color: red;">{{ctrl._approve_value.recall_reason}}</span>
                            </div>
                            <div class="form-group col-md-12" style="margin: 0;">
                                <label class="input-group-text-new mb-0"><strong>{{'CreatedBy'|l}}</strong>:</label>
                                <show-username hide-image="true" username="ctrl._approve_value.username"></show-username>
                            </div>
                            <div class="form-group col-md-12" style="margin: 0;">
                                <label class="input-group-text-new mb-0"><strong>{{'CreatedFrom'|l}}</strong>:</label>
                                <show-department style="font-weight: 600; color: dodgerblue;" department="ctrl._approve_value.department"></show-department>
                            </div>
                            <div class="form-group col-md-12 pt-1 pb-0" style="margin: 0;">
                                <label class="input-group-text-new mb-0"><strong>{{'NewsType' | l}}</strong>:</label>
                                <span>{{ctrl._approve_value.group | l}}</span>
                            </div>
                            <div class="form-group col-md-12" style="margin: 0;">
                                <label class="input-group-text-new mb-0">
                                    <strong>{{'SendTo' | l}}
                                        <span ng-if="ctrl._approve_value.type === 'Department'">({{'Department'|l}})</span>
                                        <span ng-if="ctrl._approve_value.type === 'Employee'">({{'Employee'|l}})</span>
                                    </strong>:
                                </label>
                                <ng-container ng-switch="ctrl._approve_value.type">        
                                    <span class="capitalize-first" ng-switch-when="WholeSchool">
                                        {{(ctrl._approve_value.type | l | lowercase)}}
                                    </span>                         
                                    <span ng-switch-when="Department" class="capitalize-first" ng-repeat="item in ctrl._approve_value.to_department track by $index" style="font-weight: 600; color: dodgerblue;">
                                        <show-department department="item"></show-department>
                                        <span ng-if="!$last">,&nbsp;</span>
                                    </span>
                                    <span ng-switch-when="Employee" ng-repeat="item in ctrl._approve_value.to_employee track by $index">
                                        <show-username username="item" hide-image="true"></show-username>
                                        <span ng-if="!$last">,&nbsp;</span>
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body row" style="border-left:2px solid #20a8d8">
                            <div class="col-md-12">
                                <label class="input-group-text-new"><strong>{{'Content'|l}}</strong>:</label>
                            </div>
                            <div class="col-md-12">
                                <div ng-bind-html="ctrl._approve_value.content"></div>
                            </div>
                            <div
                                class="col-md-12"
                                style="border-top:1px solid #eee;margin-bottom:15px;margin-top:10px;"
                            >
                            </div>

                            <div class="col-md-6" style="border-right: 1px solid #eee;">
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <td>&num;</td>
                                            <td colspan="2">
                                                <strong>{{'Attachment' | l}}</strong>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ctrl._approve_value.files">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <attachment-just-show my-item="item"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body-row py-2" style="border-left:2px solid #20a8d8">
                            <div class="col-md-12">
                                <div class="input-group-new">
                                  <div class="input-group-prepend-new">
                                    <label class="input-group-text-new" style="color: black;"><strong>{{'Note'|l}}</strong>:</label>
                                  </div>
                                  <div class="form-group mb-0">
                                    <text-area-with-suggestions
                                        ng-model="ctrl._approve_value.note"
                                        placeholder="{{'You can note for approval'|l}}"
                                    />
                                  </div>
                                  <div>
                                    <span 
                                      class="badge badge-light m-1" 
                                      style="cursor: pointer; font-size: 0.8rem; font-weight: 400;"
                                      ng-repeat="hint in ctrl._hintNoteSet"
                                      ng-click="ctrl.set_hint_note(hint)"
                                    > 
                                      {{hint|l}}
                                    </span>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-approval
                    modal-button-approval-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-approval-objname="Notify"
                    modal-button-approval-actionname="approve"
                    modal-button-approval-invalid="approveForm.$invalid"
                    modal-button-approval-func="ctrl.approve()"
                    modal-button-confirm-text="{{ctrl._approve_value.recall_reason ? 'ApproveRecallRequestForThisNotify' : 'AreYouSureYouApproveThisNotify'}}"
                    modal-button-approval-label="{{ctrl._approve_value.recall_reason ? ('ApproveRecall'|l) : null}}"
                />
                <button-reject-item
                    button-reject-item-modal="#notify_reject_modal"
                    button-reject-item-func="ctrl.prepareReject(params)"
                    button-reject-item-params="ctrl._approve_value"
                    button-label="{{ctrl._approve_value.allowApprove_recall ? ('RejectRecall') : ('Reject')}}"
                ></button-reject-item>
                <modal-button-close/>
            </div>
        </div>
    </div>
</div>