<my-content class="notify-feature">
  <content-content>
    <div ng-controller="notify_controller as ctrl">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <notify-insert-modal on-success="ctrl.refreshData()" />
          </div>
          <br />
          <button-select style="width:200px; display: block;" button-select-label="{{'Display'|l}}"
            button-select-data="[15,30,50,100]"
            button-select-disabled="$root.statusValue.get(ctrl._ctrlName,'Notify','load','doing')"
            button-select-func="ctrl.chooseNumberItem(params)" button-select-model="ctrl.numOfItemPerPage">
          </button-select>
          <br />
          <button-search button-search-func="ctrl.refreshData()" button-search-start="ctrl._notyetInit"
            button-search-model="ctrl._searchByKeyToFilterData">
          </button-search>
          <br />
          <span ng-if="ctrl.show_checkbox_handled" style="margin-right: 15px; display: inline-flex; align-items: center;" class="overdue">
            <input type="checkbox" ng-model="ctrl.checkbox_needhandle"
              ng-change="ctrl.refreshData()" />&nbsp;{{'NeedToHandle'|l}}
          </span>
          <span ng-if="ctrl.show_checkbox_handled" style="margin-right: 15px; display: inline-flex; align-items: center;" class="overdue">
            <input type="checkbox" ng-model="ctrl.checkbox_handled"
              ng-change="ctrl.refreshData()" />&nbsp;{{'Handled'|l}}
          </span>

          <span style="margin-right: 15px; display: inline-flex; align-items: center;" class="is_get_all" ng-if="ctrl.show_checkbox_responsibility">
            <input type="checkbox" ng-model="ctrl.checkbox_responsibility" 
              ng-change="ctrl.refreshData()" />&nbsp;{{'Responsible Department'|l}}
          </span>
          <span style="margin-right: 15px; display: inline-flex; align-items: center;" class="gonnalate">
            <input type="checkbox" ng-model="ctrl.checkbox_created"
              ng-change="ctrl.refreshData()" />&nbsp;
              <span class="tooltip-message-container">
                {{'Created'|l}}
                <span class="tooltip-message">{{'Default is only display task of departments youre leading'|l}}</span>
              </span>
          </span>           
          <span style="margin-right: 15px;; display: inline-flex; align-items: center;" class="gonnalate">
            <input type="checkbox" ng-model="ctrl.checkbox_bookmark"
              ng-change="ctrl.refreshData()" />&nbsp;{{'Bookmark'|l}}&nbsp;
          </span>
          <span style="margin-right: 15px; display: inline-flex; align-items: center;" class="gonnalate">
            <input type="checkbox" ng-model="ctrl.checkbox_notseen"
              ng-change="ctrl.refreshData()" />&nbsp;{{'NotSeen'|l}}&nbsp;
          </span>
          <hr />
          <div class="tab-content">
            <div class="tab-pane fade active show">
              <my-Async async-ctrlname="{{ctrl._ctrlName}}" async-objname="Notify" async-actionname="load">
                <async-success>
                  <div class="table-responsive main-data">
                    <table class="table table-sm notify-table">
                      <tbody>
                        <tr>
                          <th style="font-weight: 600;vertical-align: middle; width: 30px;text-align: center;">#</th>
                          <th style="font-weight: 600;vertical-align: middle; width: 120px;">{{'Created date' | l}}</th>
                          <th style="min-width: 300px;">{{'Title' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 100px; text-wrap: wrap;">{{'Scope' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 100px; text-wrap: wrap;">{{'Type' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 100px; text-wrap: wrap;">{{'Creator' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 150px; text-wrap: wrap;">{{'Status' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 100px; text-wrap: wrap;">{{'Approver' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 100px; text-wrap: wrap;">{{'ApprovedDate' | l}}</th>
                          <th style="font-weight: 600;vertical-align: middle;text-align: center; width: 210px;"></th>
                        </tr>
                        <tr ng-repeat="item in ctrl.notifys track by $index">
                          <td style="font-weight: 600;vertical-align: middle; width: 30px;text-align: center;">{{$index+1}}</td>
                          <td style="font-weight: 600;vertical-align: middle;  width: 120px;">
                            <small>
                              <span class="grey-text float-left">
                                <i class="fa fa-clock" aria-hidden="true"></i>
                                <time-show2 time-show-data="item.event[0].time" time-show-type="long"></time-show2>
                              </span>
                            </small>
                          </td>
                          <td class="auto-width">
                            <a class="text-dark" link-details link-details-display="{{item.title}}"
                              link-details-url="/notify-details?code={{item.code}}"
                              link-details-route="notify-details">{{item.title}}</a>
                            <div class="showfile-bar" ng-if="item.attachments.length>0">
                              <attachment-show ng-repeat="at in item.attachments" attachment-show-item="at"
                                attachment-show-func="ctrl.loadfile(params)"
                                attachment-show-params="{id:item._id, code:item.code, name:at.name}"
                                attachment-show-service-name="'notify'"></attachment-show>
                            </div>
                          </td>
                          <td style="font-weight: 600;vertical-align: middle;text-align: center; width: 90px;">
                              {{item.scope|l}}
                          </td>
                          <td style="font-weight: 600;vertical-align: middle;text-align: center; width: 90px; text-wrap: wrap;">
                              {{item.group|l}}
                          </td>
                          <td style="vertical-align: middle; width: 100px; text-align: center; text-wrap: wrap;">
                            <show-username-onlyname hide-image="true" username="item.entity.his[0].createdby"></show-username-onlyname>
                          </td>
                          <td style="vertical-align: middle;text-align: center; width: 160px;">
                            <!-- <show-status id-value="item.status_to_show"></show-status> -->
                            <show-status id-value="item.status_to_show === 'Pending' ? 'CreatedNotify' : (item.status_to_show === 'PendingRecalled' ? 'RegisteredRecall' : item.status_to_show)"></show-status>
                            <br>
                            <span style="font-size: 0.7rem; color: grey;text-wrap: wrap;">
                              {{'by' |l}}          
                              <show-username-onlyname hide-image="true" username="item.event[item.event.length-1].username"></show-username-onlyname>
                            </span>
                            <div ng-show="item.status == 'Rejected'" style="text-wrap: wrap;">
                              {{'Reason'|l}}:
                              {{item.event[item.event.length - 1].reason}}
                            </div>
                          </td>
                          <td style="vertical-align: middle; width: 120px;text-align: center; text-wrap: wrap;">
                            <show-username-onlyname ng-if="!['Pending', 'PendingRecalled'].includes(item.status)"
                            hide-image="true" username="item.event[item.event.length - 1].username"></show-username-onlyname>
                          </td>
                          <td style="vertical-align: middle;text-align: center; width: 110px; text-wrap: wrap;">
                            <time-show2 ng-if="!['Pending', 'PendingRecalled'].includes(item.status)"
                              time-show-data="item.event[0].time" time-show-type="long"></time-show2>
                          </td>
                          <td style="font-weight: 600;vertical-align: middle; text-overflow: unset; text-wrap: wrap;">
                            <button-approval-item
                              button-approval-item-modal="#notify_edit_modal"
                              button-approval-item-func="ctrl.prepareEdit(params,'approve')"
                              button-approval-item-params="item"
                              button-label="{{'Approval'}}"
                              ng-if="item.allowApproveDepartment"
                            />

                            <button-approval-item
                              ng-if="item.allowApprove"
                              button-approval-item-modal="#notify_approve_modal"
                              button-approval-item-func="ctrl.prepareApprove(params)" button-approval-item-params="item"
                              button-label="{{'Approval'}}"></button-approval-item>
                            <button-approval-item
                              ng-if="item.allowApprove_recall"
                              button-approval-item-modal="#notify_approve_modal"
                              button-approval-item-func="ctrl.prepareApprove(params)" button-approval-item-params="item"
                              button-label="{{'Approve Recall'}}"></button-approval-item>
                            
                            <button-reject-item
                              ng-if="item.allowApprove"
                              button-reject-item-modal="#notify_approve_modal"
                              button-reject-item-func="ctrl.prepareApprove(params)" button-reject-item-params="item"
                              button-label="{{'Reject'}}" />
                            <button-reject-item
                              ng-if="item.allowApprove_recall"
                              button-reject-item-modal="#notify_approve_modal"
                              button-reject-item-func="ctrl.prepareApprove(params)" button-reject-item-params="item"
                              button-label="{{'Reject Recall'}}" />
                            
                            <button-recall-item
                              ng-if="item.allowRequestRecall"
                              button-recall-item-modal="#modal_Notify_Recall"
                              button-recall-item-func="ctrl.prepareRecall(params)" button-recall-item-params="item"
                              button-label="{{'Recall'}}"></button-recall-item>
                            <button-edit-item button-edit-item-modal="#notify_edit_modal"
                              button-edit-item-func="ctrl.prepareEdit(params)" button-edit-item-params="item"
                              button-label="{{'Edit'}}"
                              ng-if="item.allowEdit"></button-edit-item>
                            <button-delete-item button-delete-item-modal="#modal_Notify_Delete"
                              button-delete-item-func="ctrl.prepareDelete(params)" button-delete-item-params="item"
                              button-label="{{'Delete'}}"
                              ng-if="item.allowDelete"></button-delete-item>
                          </td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div ng-if="ctrl.notifys.length ==0" class="no-data">
                    {{'NoData'|l}}
                  </div>
                  <pagination pagination-ctrlname="{{ctrl._ctrlName}}" pagination-objname="Notify"
                    pagination-actionname="count" pagination-currentpage="ctrl.currentPage"
                    pagination-noi="ctrl.numOfItemPerPage" pagination-total="ctrl.totalItems"
                    pagination-func="ctrl.load(params)"></pagination>
                </async-success>
              </my-Async>
            </div>
          </div>
          <div ng-include="ctrl._urlApproveModal"></div>
          <div ng-include="ctrl._urlRejectModal"></div>
          <div ng-include="ctrl._urlDeleteModal"></div>
          <div ng-include="ctrl._urlRecallModal"></div>
          <div ng-include="ctrl._urlEditModal"></div>
          <div ng-include="ctrl._urlThrow_to_recyclebinModal"></div>
          <div ng-include="ctrl._urlRestore_from_recyclebinModal"></div>

        </div>
      </div>
    </div>
  </content-content>
</my-content>