<div class="modal fade" tabindex="-1" role="dialog" id="modal_Workflow_Insert" data-backdrop="static">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'NewWorkflow'|l}}"></modal-header>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" ng-click="ctrl._insert_value.tab ='general'">
                        <a class="nav-link "
                            ng-class="{'active':ctrl._insert_value.tab =='general'}">{{'GeneralInfo'|l}}
                            <span ng-show="insertForm_general.$invalid || ctrl.isInvalidOtherFields_insert()"><i
                                    class="fas fa-exclamation-circle text-warning"></i></span>
                            <span ng-hide="insertForm_general.$invalid || ctrl.isInvalidOtherFields_insert()"><i
                                    class="far fa-check-circle text-success"></i></span>
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{ 'disabled': insertForm_general.$invalid || ctrl.isInvalidOtherFields_insert() }" ng-click="ctrl.onClickWorkflowTab_insert(insertForm_general)">
                        <a class="nav-link " ng-class="{'active':ctrl._insert_value.tab =='workflow'}">{{'Workflow'|l}}
                            <span ng-show="ctrl.nodesErrorCode_insert() !== ''"><i
                                    class="fas fa-exclamation-circle text-warning"></i></span>
                            <span ng-hide="ctrl.nodesErrorCode_insert() !== ''"><i
                                    class="far fa-check-circle text-success"></i></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show">
                        <form class="form-horizontal " name="insertForm_general"
                            ng-show="ctrl._insert_value.tab=='general'">
                            <div class="card">
                                <div class="card-body" style="border-left:2px solid #20a8d8">
                                    <div class="form-group">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'Title'|l}}</span>
                                                <span class="require-sympton">*</span>
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                                type="text" ng-model="ctrl._insert_value.title['vi-VN']"
                                                class="form-control" ng-change="ctrl.changeTitle()"
                                                name="insert_title_vi" placeholder="{{'InputTitle'|l}}"
                                                ng-class="{ 'is-invalid': insertForm.insert_title_vi.$invalid }"
                                                required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new"><span
                                                    class="input-group-text-new">{{'Title'|l}} (en)</span>
                                                    <span class="require-sympton">*</span>
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                                type="text" ng-model="ctrl._insert_value.title['en-US']"
                                                class="form-control" name="insert_title_en" placeholder="{{'InputTitle'|l}}"
                                                ng-class="{ 'is-invalid': insertForm.insert_title_en.$invalid }"
                                                required />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="ctrl.currentDepartment !== 'all'">
                                        <organization label="{{'Department'|l}}"
                                            id-value="ctrl._insert_value.department" require="true"
                                            disable="true">
                                        </organization>
                                    </div>
                                    <!-- <div class="form-group" ng-if="ctrl.currentDepartment === 'all'">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checked" type="radio" ng-model="ctrl.currentDepartment" name="department"
                                                id="all_departments" value="all">
                                            <label class="form-check-label font-weight-normal text-reset" for="all_departments">{{'All'|l}} {{'Department'|l}}</label>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                      <!-- is_personal -->
                                      <div class="form-group col-md-6 p-0">
                                        <input-checkbox
                                          input-checkbox-label="{{'IsPersonal'|l}}"
                                          input-checkbox-model="ctrl._insert_value.is_personal"
                                        >
                                        </input-checkbox>
                                      </div>
                                      <!-- is_department -->
                                      <div class="form-group col-md-6 p-0">
                                        <input-checkbox
                                          input-checkbox-label="{{'IsDepartment'|l}}"
                                          input-checkbox-model="ctrl._insert_value.is_department"
                                        >
                                        </input-checkbox>
                                      </div> 
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="form-group" style="display:flex">
                                            <div class="input-group-new col-md-6">
                                                <div class="input-group-prepend-new">
                                                    <span class="input-group-text-new">{{'Department'|l}}</span>
                                                    <span class="require-sympton">*</span>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" ng-model="ctrl.select_insert_department" name="department"
                                                        ng-change="ctrl.handleSelectDepartment_insert()" id="all_departments" value="all_departments">
                                                    <label class="form-check-label font-weight-normal text-reset" for="all_departments">{{'All'|l}} {{'Department'|l}}</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" ng-model="ctrl.select_insert_department" name="department"
                                                        ng-change="ctrl.handleSelectDepartment_insert()" id="choose_department" value="choose_department">
                                                    <label class="form-check-label font-weight-normal text-reset" for="choose_department">{{'Pick'|l}} {{'Department'|l}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="ctrl.select_insert_department==='choose_department'">
                                            <organization label="" id-value="ctrl._insert_value.department" select-func="ctrl.chooseDepartment(params)">
                                            </organization>
                                        </div>
                                    </div> -->
                                    <div class="form-group ">
                                        <pick-modal-directory extend="ctrl.DocumentType_Config"
                                            pick-func="ctrl.chooseWFT_insert(params)" id-value="ctrl._insert_value.key"
                                            label="{{'DocumentType'|l}}"
                                            disable="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                            require="true">
                                        </pick-modal-directory>
                                    </div>
                                    <div class="form-group" style="display:flex">
                                        <div class="input-group-new col-md-6">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'File type'|l}}</span>
                                                <span class="require-sympton">*</span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.file_type" name="insert_file_type"
                                                    ng-change="ctrl.handleSelectFileType_insert()" id="insert_radio_custom_template" value="custom_template">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_custom_template">{{'File generated by template'|l}}</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.file_type" name="insert_file_type"
                                                    ng-change="ctrl.handleSelectFileType_insert()" id="insert_radio_file_upload" value="file_upload">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_file_upload">{{'User upload manually'|l}}</label>
                                            </div>
                                        </div>
                                        <div class="input-group-new col-md-6">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">Cho phép tải lên Phụ lục/Hồ sơ đính kèm</span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.allow_appendix" name="insert_allow_appendix"
                                                    id="insert_radio_allow_appendix_true" value="true">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_allow_appendix_true">{{'Yes' | l}}</label>
                                            </div>
                                            <div class="form-check form-check-inline" style="padding-left: 24px;">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.allow_appendix" name="insert_allow_appendix"
                                                    id="insert_radio_allow_appendix_false" value="false">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_allow_appendix_false">{{'No' | l}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:flex">
                                        <div class="input-group-new col-md-6">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'AllowsUsersToChooseTheDestination' | l}}</span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.allow_choose_destination" name="insert_allow_choose_destination"
                                                    id="insert_radio_allow_choose_destination_true" value="true">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_allow_choose_destination_true">{{'Yes' | l}}</label>
                                            </div>
                                            <div class="form-check form-check-inline" style="padding-left: 24px;">
                                                <input class="form-check-input" type="radio" ng-model="ctrl._insert_value.allow_choose_destination" name="insert_allow_choose_destination"
                                                    id="insert_radio_allow_choose_destination_false" value="false">
                                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_allow_choose_destination_false">{{'No' | l}}</label>
                                            </div>
                                        </div>
                                    </div>                                                                    
                                    <div class="form-group" ng-show="ctrl._insert_value.key && ctrl._insert_value.key.includes('studentform')">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'Fee'|l}}</span>   
                                                <span class="require-sympton">*</span>                                             
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                                type="number" ng-model="ctrl._insert_value.fee"
                                                class="form-control" 
                                                name="insert_fee" placeholder="Input fee"
                                                ng-class="{ 'is-invalid': insertForm.insert_fee.$invalid }"
                                                />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="ctrl._insert_value.key && ctrl._insert_value.key.includes('studentform')">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'EstimateTime'|l}}</span>     
                                                <span class="require-sympton">*</span>                                           
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                                type="number" ng-model="ctrl._insert_value.estimate_time"
                                                class="form-control" 
                                                name="insert_estimate_time" placeholder="Input day"
                                                ng-class="{ 'is-invalid': insertForm.insert_estimate_time.$invalid }"
                                                />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="ctrl._insert_value.key && ctrl._insert_value.key.includes('studentform')">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'ReceiveTime'|l}}</span>   
                                                <span class="require-sympton">*</span>                                             
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                                type="number" ng-model="ctrl._insert_value.receive_time"
                                                class="form-control" 
                                                name="insert_receive_time" placeholder="Input day"
                                                ng-class="{ 'is-invalid': insertForm.insert_receive_time.$invalid }"
                                                />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" ng-if="ctrl._insert_value.file_type === 'file_upload'">
                                <div class="card-body row" style="border-left: 2px solid #20a8d8">
                                    <div class="col-md-6" style="border-right: 1px solid #eee">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr class="text-muted">
                                                        <th>#</th>
                                                        <th>
                                                            <div class="input-group-new">
                                                                <div class="input-group-prepend-new">
                                                                    <span class="input-group-text-new">{{'TemplateFile'|l}}</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ctrl._insert_value.files">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <attachment-just-show my-item="item"></attachment-just-show>
                                                        </td>
                                                        <td>
                                                            <i class="fas fa-times text-danger" ng-click="ctrl.removeFile_insert(item)"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="diskuf-selector-table wd-fa-add-file-light-table">
                                            <tbody>
                                                <tr>
                                                    <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main" colspan=" 0">
                                                        <div class="diskuf-uploader">
                                                            <span class="wd-fa-add-file-light">
                                                                <span class="wd-fa-add-file-light-text">
                                                                    <span class="wd-fa-add-file-light-title">
                                                                        <span class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                                                                    </span>
                                                                    <span
                                                                        class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                                </span>
                                                            </span>
                                                            <input class="diskuf-fileUploader wd-test-file-light-inp" type="file"
                                                                file-reading="ctrl._insert_value.files" size="1" multiple style="width: 100%" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 pt-3">
                                        <div class="form-group border-top pt-3">
                                            <div class="input-group-new">
                                                <div class="input-group-prepend-new">
                                                    <span class="input-group-text-new">{{'FormatUploadedFile'|l}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <table class="w-100 tags-table" ng-if="ctrl._insert_value.templateTags.length">
                                                <thead>
                                                    <tr>
                                                        <th>{{'Tag (in the file)'|l}}</th>
                                                        <th>{{'Tag name'|l}}</th>
                                                        <th>{{'Tag type'|l}}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tag in ctrl._insert_value.templateTags">
                                                        <td class="py-1">
                                                            <div class="input-group-new d-flex">
                                                                <span class="text-center"
                                                                    style="width: 12px; line-height: 28px; background-color: #d3d9e2; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">{</span>
                                                                <input class="form-control" style="border-radius: 0;" placeholder="{{'e.g. sign_headofdep'|l}}"
                                                                    ng-model="ctrl._insert_value.templateTags[$index].name" template-tag-name required maxlength="20">
                                                                <span class="text-center"
                                                                    style="width: 12px; line-height: 28px; background-color: #d3d9e2; border-top-right-radius: 3px; border-bottom-right-radius: 3px;">}</span>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <div class="input-group-new">
                                                                <input class="form-control" placeholder="{{'InputTagName'|l}}"
                                                                    ng-model="ctrl._insert_value.templateTags[$index].label" required>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <pick-modal-generic
                                                                data="ctrl.tagTypeOptionsForFileUpload"
                                                                invalid-value-func="ctrl.chooseTagType_insert($index, {})"
                                                                pick-func="ctrl.chooseTagType_insert($index, params)"
                                                                id-value="ctrl._insert_value.templateTags[$index].type"
                                                                require="true" class="size-sm"
                                                            ></pick-modal-generic>
                                                        </td>
                                                        <td class="py-1">
                                                            <button type="button" class="btn btn-outline-dark btn-sm" ng-click="ctrl.removeFileUploadTag_insert($index)">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-outline-primary mt-2 mb-4"
                                                ng-click="ctrl.addFileUploadTag_insert()">
                                                <i class="fas fa-plus-circle"></i> {{'Add Signature/Quotation mark tag'|l}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" ng-if="ctrl._insert_value.file_type === 'custom_template'">
                                <div class="card-body row" style="border-left: 2px solid #20a8d8">
                                    <div class="col-md-6" style="border-right: 1px solid #eee">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="input-group-new">
                                                                <div class="input-group-prepend-new">
                                                                    <span class="input-group-text-new">{{'TemplateFile'|l}}</span>
                                                                    <span class="require-sympton">*</span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="ctrl._insert_value.customTemplate">
                                                        <td>
                                                            <attachment-just-show
                                                                my-item="ctrl._insert_value.customTemplate"></attachment-just-show>
                                                        </td>
                                                        <td>
                                                            <i class="fas fa-times text-danger" ng-click="ctrl.removeCustomTemplate_insert()"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="diskuf-selector-table wd-fa-add-file-light-table">
                                            <tbody>
                                                <tr>
                                                    <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main" colspan="0">
                                                        <div class="diskuf-uploader">
                                                            <span class="wd-fa-add-file-light">
                                                                <span class="wd-fa-add-file-light-text">
                                                                    <span class="wd-fa-add-file-light-title">
                                                                        <span class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                                                                    </span>
                                                                    <span
                                                                        class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                                </span>
                                                            </span>
                                                            <input class="diskuf-fileUploader wd-test-file-light-inp" type="file"
                                                                accept=".doc,.docx" file-reading-single="ctrl._insert_value.customTemplate"
                                                                file-single-func="ctrl.parseCustomTemplate_insert(params)" size="1"
                                                                style="width: 100%" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 pt-3" ng-if="ctrl._insert_value.templateTags.length">
                                        <div class="form-group border-top pt-3">
                                            <div class="input-group-new">
                                                <div class="input-group-prepend-new">
                                                    <span class="input-group-text-new">{{'FormatUploadedFile'|l}}</span>
                                                    <span class="require-sympton">*</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <table class="w-100 tags-table">
                                                <thead>
                                                    <tr>
                                                        <th>{{'Tag (in the file)'|l}}</th>
                                                        <th>{{'Tag name'|l}}</th>
                                                        <th>{{'Tag type'|l}}</th>
                                                        <th>{{'Format'|l}}/{{'Directory'|l}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tag in ctrl._insert_value.templateTags">
                                                        <td class="py-1">
                                                            <div class="input-group-new">
                                                                <input class="form-control" placeholder="{{ '\{' + tag.name + '\}' }}" disabled>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <div class="input-group-new">
                                                                <input class="form-control" placeholder="{{'InputTagName'|l}}"
                                                                    ng-model="ctrl._insert_value.templateTags[$index].label" required>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <pick-modal-generic
                                                                data="ctrl.tagTypeOptions"
                                                                invalid-value-func="ctrl.chooseTagType_insert($index, {})"
                                                                pick-func="ctrl.chooseTagType_insert($index, params)"
                                                                id-value="ctrl._insert_value.templateTags[$index].type"
                                                                require="true" class="size-sm"
                                                            ></pick-modal-generic>
                                                        </td>
                                                        <td class="py-1">
                                                            <div class="input-group-new" ng-if="ctrl._insert_value.templateTags[$index].type === 'date'">
                                                                <input class="form-control" ng-model="ctrl._insert_value.templateTags[$index].format" placeholder="{{'Format'|l}}" required>
                                                            </div>
                                                            <div class="input-group-new" ng-if="ctrl._insert_value.templateTags[$index].type === 'dropdown'">
                                                                <pick-modal-master-directory
                                                                    pick-func="ctrl.chooseTagDirectory_insert($index, params)"
                                                                    id-value="ctrl._insert_value.templateTags[$index].masterKey"
                                                                    require="true" no-pagination="true" num-of-item-per-page="100" class="size-sm">
                                                                </pick-modal-master-directory>
                                                            </div>
                                                            <div class="input-group-new" ng-if="ctrl._insert_value.templateTags[$index].type === 'pick'">
                                                                <pick-modal-generic 
                                                                    data="ctrl.tagPickOptions" 
                                                                    invalid-value-func="ctrl.chooseTagPick_insert($index, {})"
                                                                    pick-func="ctrl.chooseTagPick_insert($index, params)" 
                                                                    id-value="ctrl._insert_value.templateTags[$index].pickKey"
                                                                    require="true" class="size-sm"
                                                                    ></pick-modal-generic>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body" style="border-left:2px solid #20a8d8">
                                    <div class="form-group">
                                        <button-choose-l button-choose-label="{{'Competence'|l}}"
                                            button-choose-data="ctrl.Competences"
                                            button-choose-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                            button-choose-func="ctrl.chooseCompetence_insert(params)"
                                            button-choose-model="ctrl._insert_value.competence"
                                            button-choose-key="title" button-choose-keyval="value">
                                        </button-choose-l>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body" style="border-left:2px solid #20a8d8">
                                    <div class="form-group">
                                        <button-choose-l button-choose-label="{{'Job'|l}}" button-choose-data="ctrl.Job"
                                            button-choose-disabled="$root.statusValue.get(ctrl._ctrlName,'Workflow','insert','doing')"
                                            button-choose-func="ctrl.chooseJob_insert(params)"
                                            button-choose-model="ctrl._insert_value.job" button-choose-key="title"
                                            button-choose-keyval="value">
                                        </button-choose-l>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body" style="border-left:2px solid #20a8d8">
                                    <div class="form-group">

                                        <pick-modal-directory-multi extend="ctrl.Role_Config"
                                            pick-func="ctrl.chooseRole_insert(params)"
                                            id-value="ctrl._insert_value.role" label="{{'Role'|l}}" require="true">
                                        </pick-modal-directory-multi>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div ng-show="ctrl._insert_value.tab=='workflow'"
                            style="display: flex;overflow-x: auto;height: auto;overflow-y: hidden;">
                            <div style="height: 160px; display: flex;" ng-repeat="item in ctrl._insert_value.flow">
                                <div ng-click="ctrl.prepareEditNode(item.id,item)"
                                    modal-toggle="#modal_Workflow_Node_Insert" style="
                                height: 160px;
                                 max-width: 250px;
                                 padding: 10px;
                                 border-right:2px solid #20a8d8;
                                 border-bottom:2px solid #20a8d8;
                                 overflow-y: auto;
                                 " class="generic-shadow">
                                 
                                    <div style="text-align: center;border-bottom:1px solid #20a8d8;width: 100%;">
                                        {{item.title}}
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <i class="fas fa-signature text-primary"></i>
                                        {{item.type|getFieldL:'key':'title':ctrl.Type}}
                                    </div>
                                    <div style="margin-top: 4px;">
                                        <i class="fas fa-clock text-success"></i> &nbsp;{{'NormTime'|l}}:&nbsp;{{item.duration}} ({{'day'|l}})
                                    </div>
                                    <div ng-repeat="itemNode in item.items" style="line-height: 26px;">
                                        <i class="fas fa-genderless text-success"></i>&nbsp;&nbsp;
                                        <span ng-show="itemNode.competence">
                                            {{'Competence'|l}}:&nbsp;
                                            <get-field field="title"
                                                load-details-func="ctrl.loadCompetence_details(params)"
                                                id-value="itemNode.competence" localization="true"></get-field>-
                                        </span>
                                        <span ng-show="itemNode.role">
                                            {{'Role'|l}}:&nbsp;
                                            <get-field-directory id-value="itemNode.role"
                                                extend="ctrl.Role_Config" localization="true">
                                            </get-field-directory>-
                                        </span>
                                        <span ng-show="itemNode.processType">
                                            {{'Competence'|l}}:&nbsp;
                                            <get-field-type-workflow-directory id-value="itemNode.processType"
                                                extend="ctrl.Role_Config" localization="true">
                                            </get-field-type-workflow-directory>
                                        </span>
                                        <get-field field="title" load-details-func="ctrl.loadDepartment_details(params)"
                                            id-value="itemNode.department" localization="true"></get-field>
                                    </div>

                                </div>

                                <div style="text-align: center;width: 80px; height: 160px;">
                                    <i class="fas fa-arrow-alt-circle-right fa-3x"
                                        style="line-height: 160px; color: #20a8d8;"></i>
                                </div>
                            </div>


                            <div style="height:60px;width: 60px; margin-top: 50px;
                             text-align: center;
                             margin-bottom: 40px;
                             border:2px solid #20a8d8; margin-right: 10px" class="generic-shadow">
                                <i class="fas fa-plus fa-3x" style="line-height: 56px;cursor: pointer; color: #20a8d8;"
                                    ng-click="ctrl.prepareAddNode()" modal-toggle="#modal_Workflow_Node"></i>
                            </div>
                        </div>
                        <div class="text-danger mt-3" ng-if="ctrl._insert_value.tab=='workflow' && (ctrl.nodesErrorCode_insert() === 'MISSING_SIGNATURES' || ctrl.nodesErrorCode_insert() === 'MISSING_QUOTATION_MARKS')">
                            {{'Workflow is missing Signatures/Quotation marks'|l}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <modal-button-new modal-button-new-ctrlname="{{ctrl._ctrlName}}" modal-button-new-objname="Workflow"
                    modal-button-new-actionname="insert" modal-button-new-invalid="
                    ctrl.nodesErrorCode_insert() !== ''
                    || insertForm_general.$invalid || ctrl.isInvalidOtherFields_insert()" modal-button-new-func="ctrl.insert()">
                </modal-button-new>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>