<div class="modal fade" tabindex="-1" role="dialog" id="modal_Workflow_Node_Update">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'Node'}}"></modal-header>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body" style="border-left:2px solid #20a8d8">
                        <button-select-nl button-select-label="{{'ApprovalType'|l}}" button-select-data="ctrl.Type"
                            id-value="ctrl.node.type" button-select-func="ctrl.chooseApprovalType_update(params)"
                            load-details-func="ctrl.loadType_details(params)" button-select-key="title"
                            localization="true" require="true"
                            disable="$root.statusValue.get(ctrl._ctrlName,'Workflow','update','doing')">
                        </button-select-nl>
                        <div class="d-flex align-content-start flex-wrap mt-3">
                            <div class="input-prepend input-group" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{'Title'|l}}</span>
                                </div>
                                <input disable="$root.statusValue.get(ctrl._ctrlName,'Workflow','update','doing')" type="text"
                                    ng-model="ctrl.node.title" class="form-control" min="1" name="update_title"
                                    ng-class="{ 'is-invalid': update_title.$invalid }"
                                    required />
                            </div>
                        </div>
                        <div class="d-flex align-content-start flex-wrap mt-3">
                            <div class="input-prepend input-group" style="width: 133px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{'Duration'|l}}</span>
                                </div>
                                <input disable="$root.statusValue.get(ctrl._ctrlName,'Workflow','update','doing')" type="number"
                                    ng-model="ctrl.node.duration.amount" class="form-control" min="1" name="update_duration"
                                    ng-class="{ 'is-invalid': update_duration.$invalid }"
                                    required />
                            </div>
                            <div class="input-prepend input-group" style="width: 105px; margin-left: 10px;">
                                <select class="form-control" style="height: 32px;" name="insert_cycle" disabled>
                                    <option value="day">{{'Day'|l}}</option>
                                </select>
                            </div>
                            <div style="margin-left: 25px; padding: 8px;">
                                <span class="input-group-text-new">{{'Automaticallycompletethetask' | l}} : </span>
                            </div>
                            <div class="form-check form-check-inline" style="padding-left: 25px;">
                                <input class="form-check-input" type="radio" ng-model="ctrl.node.auto_completed_task" name="update_auto_completed_task"
                                    id="insert_radio_completed_task_true" value="true">
                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_completed_task_true">{{'Yes' | l}}</label>
                            </div>
                            <div class="form-check form-check-inline" style="padding-left: 24px;">
                                <input class="form-check-input" type="radio" ng-model="ctrl.node.auto_completed_task" name="update_auto_completed_task"
                                    id="insert_radio_completed_task_false" value="false">
                                <label class="form-check-label font-weight-normal text-reset" for="insert_radio_completed_task_false">{{'No' | l}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" style="border-left:2px solid #20a8d8">
                        <div class="form-group row">
                            <button-new button-new-func="ctrl.addItemNode()" button-new-label="{{'New'|l}}">
                            </button-new>
                        </div>
                        <div >
                            <table class="table table-sm">
                                <tr ng-repeat="item in ctrl.node.items track by $index">
                                    <td style="width: 150px;">
                                        <div class="input-group-new row">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'Handling methods' | l}}</span>
                                                <span class="require-sympton">*</span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="item.methods" 
                                                    name="update_methods_{{$index}}" ng-change="ctrl.handleSelectMethodsType_update(params,item.id)" 
                                                    id="update_methods_fixed_{{$index}}" value="fixed">
                                                <label class="form-check-label font-weight-normal text-reset" 
                                                    for="update_methods_fixed_{{$index}}">{{'Fixed' | l}}</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" ng-model="item.methods" 
                                                    name="update_methods_{{$index}}" ng-change="ctrl.handleSelectMethodsType_update(params,item.id)" 
                                                    id="update_methods_flexible_{{$index}}" value="flexible">
                                                <label class="form-check-label font-weight-normal text-reset" 
                                                    for="update_methods_flexible_{{$index}}">{{'Flexible' | l}}</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="item.methods === 'fixed'">
                                        <organization label="{{'Department'|l}}" 
                                            id-value="item.department"
                                            select-func="ctrl.chooseDepartment_addNode(params,item.id)" require="true"
                                            disable="$root.statusValue.get(ctrl._ctrlName,'Workflow','update','doing')">
                                        </organization>
                                    </td>
                                    <td ng-if="item.methods === 'fixed'">
                                        <pick-modal-directory  extend="ctrl.Competence_Config"
                                            pick-func="ctrl.chooseCompetence_addNode(params,item.id)"
                                            id-value="item.competence"
                                            label="{{'Competence'|l}}"></pick-modal-directory>
                                    </td>
                                    <td ng-if="item.methods === 'fixed'">
                                        <pick-modal-directory  extend="ctrl.Role_Config"
                                            pick-func="ctrl.chooseRole_addNode(params,item.id)"
                                            id-value="item.role"
                                            label="{{'Role'|l}}"></pick-modal-directory>
                                    </td>
                                    <td ng-if="item.methods === 'flexible'">
                                        <pick-modal-generic-default pick-func="ctrl.chooseLeaderProcess_addNode(params,item.id)"
                                            label="{{ 'Select an Option' | l }}"
                                            id-value="item.processType"
                                            id-field="type"
                                            require="true" disable="false">
                                        </pick-modal-generic-default>
                                    </td>
                                    <td ng-if="ctrl.node.type !== 'process' && ctrl.node.type !== 'receiver'">
                                        <pick-modal-generic
                                            data="ctrl.signatureOptions"
                                            invalid-value-func="ctrl.chooseSignature_addNode({},item.id)"
                                            pick-func="ctrl.chooseSignature_addNode(params,item.id)"
                                            id-value="item.signature"
                                            label="{{'Signature'|l}}"></pick-modal-generic>
                                    </td>
                                    <td ng-if="ctrl.node.type !== 'process' && ctrl.node.type !== 'receiver'">
                                        <pick-modal-generic
                                            data="ctrl.quotationMarkOptions"
                                            invalid-value-func="ctrl.chooseQuotationMark_addNode({},item.id)"
                                            pick-func="ctrl.chooseQuotationMark_addNode(params,item.id)"
                                            id-value="item.quotationMark"
                                            label="{{'Quotation mark'|l}}"></pick-modal-generic>
                                    </td>
                                    <td >
                                        <button-delete-item style="line-height: 35px;"
                                            button-delete-item-func="ctrl.removeItemNode(params)"
                                            button-delete-item-params="item">
                                        </button-delete-item>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-danger" ng-if="ctrl.isDuplicateSignatures(ctrl.node) || ctrl.isDuplicateQuotationMarks(ctrl.node)">
                    {{'Signatures/Quotation marks cannot be duplicated in case All Approval'|l}}
                </div>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrl._ctrlName}}" modal-button-save-objname="Workflow"
                    modal-button-save-actionname="update" modal-button-save-invalid="
                    ctrl.node.items.length===0 || ctrl.isDuplicateSignatures(ctrl.node) || ctrl.isDuplicateQuotationMarks(ctrl.node)
                    || !ctrl.node.type" modal-button-save-func="ctrl.setEditNode_update()">
                </modal-button-save>
                <modal-button-delete modal-button-delete-ctrlname="{{ctrl._ctrlName}}" modal-button-delete-objname="Workflow"
                modal-button-delete-actionname="update"  modal-button-delete-func="ctrl.deleteEditNode_update()">
            </modal-button-delete>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>