<div class="modal fade" id="modal_Exam_Delete" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <modal-header modal-header-title="{{'Alert'|l }}"></modal-header>
            <div class="modal-body">
                {{'DoYouWantDeleteExamSchedule'|l:{title:ctrl._selected_file.value.display}
                }}
            </div>
            <div class="modal-footer">
                <modal-button-delete
                    modal-button-delete-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-delete-objname="ExamSchedule"
                    modal-button-delete-actionname="delete"
                    modal-button-delete-func="ctrl.delete()">
                </modal-button-delete>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>