<div ng-controller="setting_module_hmr_controller as ctrlChild"
 class="management-settings-hmr">
    <div class="hmr-general">
        <div class="form-group">
            <input-checkbox input-checkbox-label="{{'SelfDeclaration'|l}}"
                input-checkbox-model="ctrlChild.enableSelfConfig.value"
                input-checkbox-disabled="$root.statusValue.get(ctrl._ctrlName,'Setting','update','doing')">
            </input-checkbox>
        </div>
        <div class="form-group">
            <div class="update-button clearfix">
                <button type="button" class="btn btn-primary "
                 ng-click="ctrlChild.update()">{{'Save'|l}}</button>
            </div>
                
        </div>
    </div>


</div>