<div class="modal fade " tabindex="-1" id="modal_RecycleBin_Info" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'DetailsInfo'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal">
                    <my-Async async-ctrlname="{{ctrl._ctrlName}}" async-objname="RecycleBin"
                        async-actionname="loadDetails">
                        <async-success>
                            <div class="form-group">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span
                                            class="input-group-text">{{'UserName'|l}}</span>
                                    </div>
                                    <div class="form-control bg-light">
                                        {{ctrl._info_value.username}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span
                                            class="input-group-text">{{'DBName'|l}}</span>
                                    </div>
                                    <div class="form-control bg-light">
                                        {{ctrl._info_value.dbname}}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span
                                            class="input-group-text">{{'Collection'|l}}</span>
                                    </div>
                                    <div class="form-control bg-light">
                                        {{ctrl._info_value.collection}}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">{{'Time'|l}}</span>
                                    </div>
                                    <div class="form-control bg-light">
                                        {{ctrl._info_value.time}}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend"><span class="input-group-text">{{'Data'|l}}</span>
                                </div>
                                <div class=" bg-light">
                                    {{ctrl._info_value.data}}
                                </div>
                            </div>
                        </async-success>
                    </my-Async>

                </form>
            </div>
            <div class="modal-footer">
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>