<div class="modal fade" tabindex="-1" role="dialog" id="modal_workflow_form_update">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="Cập nhật quy trình"></modal-header>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" ng-click="ctrl._update_value.tab ='general'">
                            <a class="nav-link "
                                ng-class="{'active':ctrl._update_value.tab =='general'}">{{'GeneralInfo'|l}}
                                <span><i class="fas fa-exclamation-circle text-warning"></i></span>
                                <!-- <span><i class="far fa-check-circle text-success"></i></span> -->
                            </a>
                        </li>
                        <li class="nav-item"
                            ng-class="{ 'disabled': updateForm_general.$invalid || ctrl.isInvalidOtherFields_insert() }"
                            ng-click="ctrl._update_value.tab ='workflow'">
                            <a class="nav-link "
                                ng-class="{'active':ctrl._update_value.tab =='workflow'}">{{'Workflow'|l}}
                                <span><i class="fas fa-exclamation-circle text-warning"></i></span>
                                <!-- <span><i class="far fa-check-circle text-success"></i></span> -->
                            </a>
                        </li>
                    </ul>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show">
                        <form class="form-horizontal" name="updateForm" ng-show="ctrl._update_value.tab=='general'">
                            <div class="card">
                                <div class="card-body row pt-2 pb-3" style="border-left:2px solid #20a8d8">
                                    <div class="col-md-12">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'Title'|l}}</span>
                                                <span class="require-sympton">*</span>
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'WorkflowForm','update','doing')"
                                                type="text" ng-model="ctrl._update_value.title" class="form-control"
                                                name="update_title" placeholder="{{'InputTitle'|l}}"
                                                ng-class="{ 'is-invalid': updateForm.update_title.$invalid }"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">{{'Title'|l}} (en)</span>
                                                <span class="require-sympton">*</span>
                                            </div>
                                            <input
                                                ng-disabled="$root.statusValue.get(ctrl._ctrlName,'WorkflowForm','update','doing')"
                                                type="text" ng-model="ctrl._update_value.title_en" class="form-control"
                                                name="update_title_en" placeholder="{{'InputTitle'|l}}"
                                                ng-class="{ 'is-invalid': updateForm.update_title_en.$invalid }"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <pick-modal-generic label="Lệ phí (VND)" data="ctrl.feeOptions"
                                            invalid-value-func="" pick-func="" id-value="" require="true"
                                            class="size-sm"></pick-modal-generic>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">Thời gian xử lý dự kiến (ngày)</span>
                                                <p class="label-description">*Tính theo ngày làm việc, từ thời điểm sinh
                                                    viên hoàn tất cả thủ tục kể cả phí phát sinh (nếu có) </p>
                                            </div>
                                            <div class="show-value">3</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="input-group-new">
                                            <div class="input-group-prepend-new">
                                                <span class="input-group-text-new">Thời hạn nhận hồ sơ (ngày)</span>
                                            </div>
                                            <div class="show-value">90</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body row" style="border-left:2px solid #20a8d8">
                                    <div class="col-md-6" style="border-right: 1px solid #eee;">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            #
                                                        </td>
                                                        <td>
                                                            {{'TemplateFile'|l}}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ctrl._update_value.files">
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <attachment-just-show my-item="item"></attachment-just-show>
                                                        </td>
                                                        <td><i class="fas fa-times text-danger"
                                                                ng-click="ctrl.removeFile_update(item)"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="diskuf-selector-table wd-fa-add-file-light-table">
                                            <tbody>
                                                <tr>
                                                    <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                                                        colspan=" 0">
                                                        <div class="diskuf-uploader">
                                                            <span class="wd-fa-add-file-light">
                                                                <span class="wd-fa-add-file-light-text">
                                                                    <span class="wd-fa-add-file-light-title">
                                                                        <span
                                                                            class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                                                                    </span>
                                                                    <span
                                                                        class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                                </span>
                                                            </span>
                                                            <input class="diskuf-fileUploader wd-test-file-light-inp "
                                                                type="file" file-reading="ctrl._update_value.files"
                                                                size="1" multiple style="width:100%;">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 pt-3">
                                        <div class="form-group border-bottom pt-3 pb-3">
                                            <div class="input-group-new">
                                                <div class="input-group-prepend-new text-center" style="width: 19%">
                                                    <span class="input-group-text-new">{{'FormatUploadedFile'|l}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <table class="w-100 tags-table">
                                                <thead>
                                                    <tr>
                                                        <th width="15%" class="text-center">{{'Tag (in the file)'|l}}
                                                        </th>
                                                        <th width="25%" class="text-center">{{'Tag name'|l}}</th>
                                                        <th width="25%" class="text-center">{{'Tag type'|l}}</th>
                                                        <th width="25%" class="text-center">Thông tin sinh viên</th>
                                                        <th width="10%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="n in [].constructor(5) track by $index">
                                                        <td class="py-1">
                                                            <div class="input-group-new d-flex">
                                                                <span class="text-center"
                                                                    style="width: 12px; line-height: 28px; background-color: #d3d9e2; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">{</span>
                                                                <input class="form-control" style="border-radius: 0;"
                                                                    placeholder="{{'e.g. sign_headofdep'|l}}" required>
                                                                <span class="text-center"
                                                                    style="width: 12px; line-height: 28px; background-color: #d3d9e2; border-top-right-radius: 3px; border-bottom-right-radius: 3px;">}</span>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <div class="input-group-new">
                                                                <input class="form-control"
                                                                    placeholder="{{'InputTagName'|l}}"
                                                                    ng-model="ctrl._update_value.templateTags[$index].label"
                                                                    required>
                                                            </div>
                                                        </td>
                                                        <td class="py-1">
                                                            <pick-modal-generic data="ctrl.TagTypeOptions"
                                                                invalid-value-func="" pick-func="" id-value=""
                                                                require="true" class="size-sm"></pick-modal-generic>
                                                        </td>
                                                        <td class="py-1">
                                                            <pick-modal-generic data="ctrl.StudentOptions"
                                                                invalid-value-func="" pick-func=""
                                                                id-value="student_code" require="true"
                                                                class="size-sm"></pick-modal-generic>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div ng-show="ctrl._update_value.tab=='workflow'"
                            style="display: flex;overflow-x: auto;height: auto;overflow-y: hidden;">
                            <div style="height: 160px; display: flex;" ng-repeat="item in ctrl._update_value.flow">
                                <div 
                                ng-click="ctrl.prepareEditNode(item.id,item)"
                            modal-toggle="#modal_Workflow_Form_Node_Update"
                                style="
                                height: 160px;
                                 max-width: 250px;
                                 padding: 10px;
                                 border-right:2px solid #20a8d8;
                                 border-bottom:2px solid #20a8d8;
                                 overflow-y: auto;
                                 " class="generic-shadow">
                                    <div style="text-align: center;border-bottom:1px solid #20a8d8;width: 100%;">
                                        <i class="fas fa-signature text-primary"></i>
                                        {{item.type|getFieldL:'key':'title':ctrl.Type}}
                                    </div>
                                    <div ng-repeat="itemNode in item.items" style="line-height: 26px;">
                                        <i class="fas fa-genderless text-success"></i>
                                        <span ng-show="itemNode.competence">
                                            {{'Competence'|l}}:&nbsp;
                                            <get-field field="title"
                                                load-details-func="ctrl.loadCompetence_details(params)"
                                                id-value="itemNode.competence" localization="true"></get-field>-
                                        </span>
                                        <span ng-show="itemNode.role">
                                            {{'Role'|l}}:&nbsp;
                                            <get-field-directory id-value="itemNode.role"
                                                extend="ctrl.Role_Config" localization="true">
                                            </get-field-directory>-
                                        </span>

                                        <get-field field="title" load-details-func="ctrl.loadDepartment_details(params)"
                                            id-value="itemNode.department" localization="true"></get-field>
                                    </div>

                                </div>

                                <div style="text-align: center;width: 80px; height: 160px;">
                                    <i class="fas fa-long-arrow-alt-right fa-3x"
                                        style="line-height: 160px; color: #20a8d8;"></i>
                                </div>
                            </div>


                            <div style="height:60px;width: 60px; margin-top: 50px;
                             text-align: center;
                             
                             border:2px solid #20a8d8; margin-right: 10px" class="generic-shadow">
                                <i class="fas fa-plus fa-3x" style="line-height: 56px;cursor: pointer; color: #20a8d8;"
                                    ng-click="ctrl.prepareAddNode()" modal-toggle="#modal_Workflow_Form_Node"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrl._ctrlName}}"
                    modal-button-save-objname="WorkflowForm" modal-button-save-actionname="update"
                    modal-button-save-invalid="updateForm.$invalid" modal-button-save-func="ctrl.update()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>