<style>
    button-choose .dropdown-menu>div {
        max-height: 250px;
        overflow-y: auto;
    }
</style>
<div class="form-group">
    <div class="btn-group">
        <div class="input-prepend input-group">
            <div class="input-group-prepend"><span class="input-group-text">{{buttonChooseLabel}}</span>
            </div>
            <button ng-hide="buttonChooseDataInternal.length ===0" ng-disabled="doing" type="button"
                class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span ng-if="buttonChooseLocalization">
                    <span ng-if="buttonChooseShowbaselanguage">
                        {{buttonChooseKeyVal ? (buttonChooseChoosen[$root.Language.current]|l) : (buttonChooseChoosen[buttonChooseKey][$root.Language.current]|l)}}
                    </span>
                    <span ng-if="!buttonChooseShowbaselanguage">
                        {{buttonChooseKeyVal ? (buttonChooseChoosen|l) : (buttonChooseChoosen[buttonChooseKey]|l)}}
                    </span>

                </span>
                <span ng-if="!buttonChooseLocalization">
                    <span ng-if="buttonChooseShowbaselanguage">
                        {{buttonChooseKeyVal ? buttonChooseChoosen[$root.Language.current] : buttonChooseChoosen[buttonChooseKey][$root.Language.current]}}
                    </span>
                    <span ng-if="!buttonChooseShowbaselanguage">
                        {{buttonChooseKeyVal ? buttonChooseChoosen : buttonChooseChoosen[buttonChooseKey]}}
                    </span>

                </span>
            </button>
            <div ng-hide="buttonChooseDataInternal.length ===0" class="input-group-append"><button
                    class="btn btn-secondary" type="button" ng-click="buttonChooseAdd()">{{'Add'|l}}</button>
            </div>
            <div class="dropdown-menu">
                <input type="text" ng-model="buttonChoose" style="width: 100%;height: 30px;" placeholder="Search" />
                <div>
                    <a class="dropdown-item" ng-repeat="item in buttonChooseDataInternal|filter:buttonChoose"
                        ng-click="buttonChooseChoose(item)" ng-disabled="buttonChooseDisabled">
                        <span ng-if="buttonChooseLocalization">
                            <span ng-if="buttonChooseShowbaselanguage">
                                {{buttonChooseKeyVal ? (item[$root.Language.current]|l) : (item[buttonChooseKey][$root.Language.current]|l)}}
                            </span>
                            <span ng-if="!buttonChooseShowbaselanguage">
                                {{buttonChooseKeyVal ? (item|l) : (item[buttonChooseKey]|l)}}
                            </span>
                        </span>
                        <span ng-if="!buttonChooseLocalization">
                            <span ng-if="buttonChooseShowbaselanguage">
                                {{buttonChooseKeyVal ? item[$root.Language.current] : item[buttonChooseKey][$root.Language.current]}}
                            </span>
                            <span ng-if="!buttonChooseShowbaselanguage">
                                {{buttonChooseKeyVal ? item : item[buttonChooseKey]}}
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group ">
    <loading loading-label="Updating..." loading-value="doing">
    </loading>
    <div ng-show="!status">
        <span class="btn btn-sm" style="color: #f86c6b;">
            {{'FailedSaving'|l}}
        </span>
        <button class="btn btn-sm btn-outline-primary" type="button" ng-click="retry()">
            <i class="fas fa-redo"></i>&nbsp;{{'Retry'|l}}
        </button>
    </div>
    <div class="input-group-text" ng-hide="buttonChooseModel.length>0">
        {{'NoMoreInformation'|l:{title:buttonChooseLabel} }}
    </div>
    <div class="multiple choosen" ng-hide="buttonChooseModel.length==0">
        <div class="option" ng-repeat="item in buttonChooseModel"><span ng-show="!doing" class="deselect-option"
                ng-click="buttonChooseRemove(item)"> ✕ </span>
            <span ng-if="buttonChooseLocalization">
                <span ng-if="buttonChooseShowbaselanguage">
                    {{buttonChooseKeyVal ? (item[$root.Language.current]|l): (item[buttonChooseKey][$root.Language.current]|l)}}
                </span>
                <span ng-if="!buttonChooseShowbaselanguage">
                    {{buttonChooseKeyVal ? (item|l): (item[buttonChooseKey]|l)}}
                </span>
            </span>
            <span ng-if="!buttonChooseLocalization">
                <span ng-if="buttonChooseShowbaselanguage">
                    {{buttonChooseKeyVal ? item[$root.Language.current]: item[buttonChooseKey][$root.Language.current]}}
                </span>
                <span ng-if="!buttonChooseShowbaselanguage">
                    {{buttonChooseKeyVal ? item: item[buttonChooseKey]}}
                </span>
            </span>
        </div>
    </div>
</div>