<span>
    <my-async async-status-label="'Rejecting...'" async-ctrlname="{{modalButtonRejectCtrlname}}"
        async-objname="{{modalButtonRejectObjname}}" async-actionname="{{modalButtonRejectActionname}}">
        <async-default>
            <button class="btn btn-outline-danger" type="button" ng-class='{"btn-sm":modalButtonRejectType==="small"}'
            ng-disabled="modalButtonRejectInvalid||$root.statusValue.get(modalButtonRejectCtrlname,modalButtonRejectObjname,modalButtonRejectActionname,'doing')"
                modal-toggle="#{{ctrl._ctrlName}}">
                <i class="fas fa-times"></i>&nbsp;{{modalButtonRejectLabel ?modalButtonRejectLabel
                :('Reject'|l)}}</button>
        </async-default>
        <async-doing>
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div> {{loadingLabel ||'Rejecting...'}}
        </async-doing>
        <async-success>
            <span class="btn" style="color: #4dbd74;" ng-class='{"btn-sm":modalButtonRejectType==="small"}'>
                {{'SuccessReject'|l}}
            </span>
        </async-success>
        <async-fail>
            <span class="btn" style="color: #f86c6b;" ng-class='{"btn-sm":modalButtonRejectType==="small"}'>
                {{$root.statusValue.get(modalButtonRejectCtrlname,modalButtonRejectObjname,modalButtonRejectActionname,'message')|l}}
            </span>
            <button class="btn btn-outline-danger" type="button" ng-class='{"btn-sm":modalButtonRejectType==="small"}'
                ng-disabled="modalButtonRejectInvalid||$root.statusValue.get(modalButtonRejectCtrlname,modalButtonRejectObjname,modalButtonRejectActionname,'doing')"
                ng-click="modalButtonRejectClick()">
                <i class="fas fa-redo"></i>&nbsp;{{'Retry'|l}}
            </button>
        </async-fail>
    </my-async>

    <div class="modal fade" id="{{ctrl._ctrlName}}" role="dialog" tabindex="-1">
        <div class="modal-dialog" style="width: 100%; max-width: 420px;">
            <div class="modal-content">
                <modal-header modal-header-title="{{'Reject'|l }}"></modal-header>
                <div class="modal-body">
                    <span ng-if="modalButtonConfirmText" ng-bind-html="modalButtonConfirmText|l"></span>
                    <span ng-if="!modalButtonConfirmText">{{'Are you sure you reject this document for signature'|l}}</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" ng-class='{"btn-sm":modalButtonRejectType==="small"}'
                        ng-disabled="modalButtonRejectInvalid||$root.statusValue.get(modalButtonRejectCtrlname,modalButtonRejectObjname,modalButtonRejectActionname,'doing')"
                        ng-click="modalButtonRejectClick()"
                        >
                        <i class="fas fa-times"></i>&nbsp;{{modalButtonRejectLabel ?modalButtonRejectLabel
                        :('Reject'|l)}}</button>
                    <modal-button-close></modal-button-close>
                </div>
            </div>
        </div>
    </div>
</span>