<div>

    <my-async async-status-label="'Returning...'" async-ctrlname="{{modalButtonReturnCtrlname}}"
        async-objname="{{modalButtonReturnObjname}}" async-actionname="{{modalButtonReturnActionname}}">
        <async-default>
            <button class="btn btn-outline-warning" type="button" ng-class='{"btn-sm":modalButtonReturnType==="small"}'
                modal-toggle="#{{ctrl._ctrlName}}">
                <i class="fas fas fa-undo"></i>&nbsp;{{modalButtonReturnLabel ?modalButtonReturnLabel
                :('Return'|l)}}</button>
        </async-default>
        <async-doing>
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div> {{loadingLabel ||'Return...'}}
        </async-doing>
        <async-success>
            <span class="btn" style="color: #4dbd74;" ng-class='{"btn-sm":modalButtonReturnType==="small"}'>
                {{'SuccessReturn'|l}}
            </span>
        </async-success>
        <async-fail>
            <span class="btn" style="color: #f86c6b;" ng-class='{"btn-sm":modalButtonReturnType==="small"}'>
                {{$root.statusValue.get(modalButtonReturnCtrlname,modalButtonReturnObjname,modalButtonReturnActionname,'message')|l}}
            </span>
            <button class="btn btn-outline-warning" type="button" ng-class='{"btn-sm":modalButtonReturnType==="small"}'
                ng-disabled="modalButtonReturnInvalid||$root.statusValue.get(modalButtonReturnCtrlname,modalButtonReturnObjname,modalButtonReturnActionname,'doing')"
                ng-click="modalButtonReturnClick()">
                <i class="fas fa-redo"></i>&nbsp;{{'Retry'|l}}
            </button>
        </async-fail>
    </my-async>
    <div class="modal fade" id="{{ctrl._ctrlName}}" role="dialog" tabindex="-1">
        <div class="modal-dialog" style="width: 100%; max-width: 420px;">
            <div class="modal-content">
                <modal-header modal-header-title="{{'Return'|l }}"></modal-header>
                <div class="modal-body">
                    {{'Are you sure you return this document for signature'|l}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-class='{"btn-sm":modalButtonReturnType==="small"}'
                        ng-disabled="modalButtonReturnInvalid||$root.statusValue.get(modalButtonReturnCtrlname,modalButtonReturnObjname,modalButtonReturnActionname,'doing')"
                        ng-click="modalButtonReturnClick()"
                        >
                        <i class="fas fas fa-undo"></i>&nbsp;{{modalButtonReturnLabel ?modalButtonReturnLabel
                        :('Return'|l)}}</button>
                    <modal-button-close></modal-button-close>
                </div>
            </div>
        </div>
    </div>
</div>