<my-async async-status-label="Cancelled..." async-ctrlname="{{modalButtonCancelCtrlname}}"
          async-objname="{{modalButtonCancelObjname}}" async-actionname="{{modalButtonCancelActionname}}">
    <async-default>
        <button class="btn btn-danger" type="button" ng-class='{"btn-sm":modalButtonCancelType==="small"}'
                ng-disabled="modalButtonCancelInvalid||$root.statusValue.get(modalButtonCancelCtrlname,modalButtonCancelObjname,modalButtonCancelActionname,'doing')"
                ng-click="modalButtonCancelClick()">
            <i class="fas fa-times-circle"></i>&nbsp;{{modalButtonCancelLabel ? modalButtonCancelLabel : ('Cancel'|l)}}
        </button>
    </async-default>
    <async-doing>
        <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
        </div> {{'Cancel'|l}}...
    </async-doing>
    <async-success>
        <span class="btn" style="color: #4dbd74;" ng-class='{"btn-sm":modalButtonCancelType==="small"}'>
            {{'SuccessCancelling'|l}}
        </span>
    </async-success>
    <async-fail>
        <span class="btn" style="color: #f86c6b;" ng-class='{"btn-sm":modalButtonDeleteType==="small"}'>
            {{$root.statusValue.get(modalButtonCancelCtrlname,modalButtonCancelObjname,modalButtonCancelActionname,'message')|l}}
        </span>
        <button class="btn btn-outline-danger" type="button" ng-class='{"btn-sm":modalButtonCancelType==="small"}'
                ng-disabled="modalButtonCancelInvalid||$root.statusValue.get(modalButtonCancelCtrlname,modalButtonCancelObjname,modalButtonCancelActionname,'doing')"
                ng-click="modalButtonCancelClick()">
            <i class="fas fa-redo"></i>&nbsp;{{'Retry'|l}}
        </button>
    </async-fail>
</my-async>
