<div class="container">
    <div class="label" ng-if="label">
        {{label}}
    </div>
    <div class="value">
        <div class="show-value">
            <span ng-repeat="item in idValue track by $index" ng-if="idValue.length>=4">
                <show-username username="item" just-name="true" ng-if="$index<5">
                </show-username>&nbsp;&nbsp;
                <span ng-if="$index==5">,...</span>
            </span>
            <span ng-repeat="item in idValue track by $index" ng-if="idValue.length<4">
                <show-username username="item">
                </show-username>&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <button type="button" class="btn btn-primary " ng-click="init()" ng-disabled="disable"
        modal-toggle="#{{ctrl._ctrlName}}">
        {{'Pick'|l}}&nbsp;<i class="fas fa-external-link-alt"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-click="clear()" ng-disabled="disable">
        <i class="fas fa-times"></i>
    </button>
    <div class="modal fade" tabindex="-1" role="dialog" id="{{ctrl._ctrlName}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <modal-header modal-header-title="{{label ? label : ('Department'|l)}}" modal-header-id={{ctrl._ctrlName}}>
                </modal-header>
                <div class="modal-body">
                    <div class="part-container">
                        <div class="part">
                            <div class="tool">
                                <div class="search">
                                    <input type="text" ng-model="search" my-watch-text-input my-scope="search"
                                        my-func="refreshData_user()" my-start="!_notyetInit"
                                        placeholder="{{'FindByName'|l}}">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <ul class="department-container">
                                <li ng-repeat="u in data" style="list-style-type: none;">
                                    <div class="user-item">
                                        <div class="title">
                                            <div class="show-user__img">
                                                <img ng-if="u.avatar.url" ng-src="{{u.avatar.url}}" />
                                            </div>
                                            <div class="show-user__title" style="cursor: default">
                                                &nbsp;<span>{{u.title}}</span>
                                            </div>
                                            <div class="show-user__status" ng-if="u.online ">
                                            </div>
                                        </div>
                                        <div class="tool">
                                            <button type="button" ng-click="ctrl.pick(u.username)"
                                                class="btn btn-primary">{{'Pick'|l}}</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pagination-item" ng-if="ctrl.pagination.totalItems > ctrl.numOfItemPerPage">
                                <pagination pagination-ctrlname="{{ctrl._ctrlName}}"
                                    pagination-objname="Load" pagination-actionname="load"
                                    pagination-currentpage="ctrl.pagination.currentPage"
                                    pagination-noi="ctrl.numOfItemPerPage"
                                    pagination-total="ctrl.pagination.totalItems"
                                    pagination-func="ctrl.load_user(params)"></pagination>
                            </div>
                            <div ng-if="ctrl.data.length ==0" class="no-data">
                                {{'NoData'|l}}
                            </div>
                        </div>
                        <div class="part selected-part">
                            <div class="user-container">
                                <div class="label">
                                    {{'SelectedPart'|l}}&nbsp({{idValue.length}})
                                </div>
                                <div class="user-item" ng-repeat="item in idValue">
                                    <i class="material-icons" ng-click="remove(item)">clear</i>
                                    <show-username username="item">
                                    </show-username>
                                </div>
                                <div class="no-data" ng-if="idValue.length==0">
                                    {{'NoUserSelectedYet'|l}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" ng-click="close()">{{'Close'|l}}</button>
                </div>
            </div>
        </div>
    </div>
</div>