<div class="textarea-container">
    <textarea ng-model="ngModel" ng-focus="focusFunction()"
        placeholder="{{placeholder}}"
        cols="{{cols}}"
        rows="{{rows}}"
        id="{{id}}"
        class="{{class}}"
        ng-required="ngRequired"
        ng-disabled="ngDisabled"
        ng-blur="ngBlurFunction()"
        style="width: 100%; height: 60px;"></textarea>
    <div class="area-suggestions" ng-show="suggestions.length > 0">
        <div class="suggestions">
            <span class="suggestions-value"
                ng-repeat="suggestion in suggestions"
                ng-click="addSuggestion(suggestion.value)"
                ng-style="{'border': '1px solid ' + suggestion.color, 'color': suggestion.color}">
                {{suggestion.value}}
            </span>
        </div>
    </div>
</div>