<div class="modal fade" tabindex="-1" role="dialog" id="modal_Task_InsertProject">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'AddProject'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal " name="insertProjectForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span>
                                </div>
                                <input
                                    ng-disabled="$root.statusValue.get(ctrlChild._ctrlName,'Task','insertProject','doing')"
                                    type="text" ng-model="ctrlChild._insert_project_value.title" class="form-control"
                                    name="insert_project_title" placeholder="{{'InputTitle'|l}}"
                                    ng-class="{ 'is-invalid': insertForm.insert_project_title.$invalid }" required />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <date id-value="ctrlChild._insert_project_value.from_date"
                                func="ctrlChild.chooseFromDate_insert_project(params)" label="{{'FromDate'|l}}"
                                disabled="$root.statusValue.get(ctrlChild._ctrlName,'Task','insertProject','doing')"
                                required="true" max="ctrlChild._insert_project_value.to_date"></date>
                            <div class="errorMsg" ng-show="ctrlChild.fromDate_ErrorMsg">{{ ctrlChild.fromDate_ErrorMsg
                                }}</div>
                        </div>
                        <div class="col-md-6 form-group">
                            <date id-value="ctrlChild._insert_project_value.to_date"
                                func="ctrlChild.chooseToDate_insert_project(params)" label="{{'ToDate'|l}}"
                                disabled="$root.statusValue.get(ctrlChild._ctrlName,'Task','insertProject','doing')"
                                required="true" endday="true" min="ctrlChild._insert_project_value.from_date"></date>
                            <div class="errorMsg" ng-show="ctrlChild.toDate_ErrorMsg">{{ ctrlChild.toDate_ErrorMsg }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <pick-user-multi pick-func="ctrlChild.pickParticipant(params)"
                                    id-value="ctrlChild._insert_project_value.participant" label="{{'Coordinator'|l}}"
                                    require="true"></pick-user-multi>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <pick-modal-advance extend="" pick-func="ctrlChild.chooseWFP(params)"
                                id-value="ctrlChild._insert_project_value.workflowPlay_id" label="{{'IntegrationWithWorkflowPlay'|l}}"
                                disable="$root.statusValue.get(ctrlChild._ctrlName,'Task','insertProject','doing')"
                                require="false" load-data-func="ctrlChild.load_WFP(params)"
                                count-func="ctrlChild.count_WFP(params)" localized="false"
                                load-details-func="ctrlChild.loadWFP_details(params)">
                            </pick-modal-advance>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <modal-button-new modal-button-new-ctrlname="{{ctrlChild._ctrlName}}" modal-button-new-objname="Task"
                    modal-button-new-actionname="insertProject"
                    modal-button-new-invalid="insertProjectForm.$invalid || ctrlChild.toDate_ErrorMsg || ctrlChild.fromDate_ErrorMsg"
                    modal-button-new-func="ctrlChild.insertProject()">
                </modal-button-new>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>
