<div class="modal fade" id="modal_Task_StartProject" role="dialog" tabindex="-1">
    <div class="modal-dialog" >
        <div class="modal-content">
            <modal-header modal-header-title="{{'StartProject'|l }}"></modal-header>
            <div class="modal-body">
                {{'DoYouWantToStartProject'|l:{title:ctrlChild.currentProject.title} }}
            </div>
            <div class="modal-footer">
                <modal-button-submit modal-button-submit-ctrlname="{{ctrlChild._ctrlName}}"
                modal-button-submit-label="{{'StartProject'|l }}"
                    modal-button-submit-objname="Task" modal-button-submit-actionname="startProject"
                    modal-button-submit-func="ctrlChild.startProject()">
                </modal-button-submit>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>