<div class="modal fade" tabindex="-1" role="dialog" id="modal_Task_UpdateWiki">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <modal-header modal-header-title="{{'UpdateDocument'|l}}"></modal-header>
            <div class="modal-body">
                <form class="form-horizontal row" name="updateFormWiki">
                    <div class="form-group col-md-12">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend"><span class="input-group-text">{{'Title'|l}}</span>
                            </div>
                            <input ng-disabled="$root.statusValue.get(ctrlChild._ctrlName,'Task','updateWiki','doing')"
                                type="text" ng-model="ctrlChild._update_wiki_value.title" class="form-control"
                                name="update_title" placeholder="{{'InputTitle'|l}}"
                                ng-class="{ 'is-invalid': updateFormWiki.update_title.$invalid }" required />
                        </div>
                    </div>

                    <div class="col-md-12 form-title">
                        {{'Content'|l}}
                    </div>
                    <div class="col-md-12" style="border-top:1px solid #eee;margin-bottom:15px;margin-top:10px;">
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="updateWiki_content" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6" style="border-right: 1px solid #eee;">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>
                                            #
                                        </td>
                                        <td>
                                            {{'Attachment'|l}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrlChild._update_wiki_value.attachment">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <attachment-just-show my-item="item"></attachment-just-show>
                                        </td>
                                        <td><i class="fas fa-times text-danger"
                                                ng-click="ctrlChild.removeFile_wiki_update(item)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="diskuf-selector-table wd-fa-add-file-light-table">
                            <tbody>
                                <tr>
                                    <td class="diskuf-selector wd-fa-add-file-light-cell wd-fa-add-file-from-main"
                                        colspan=" 0">
                                        <div class="diskuf-uploader">
                                            <span class="wd-fa-add-file-light">
                                                <span class="wd-fa-add-file-light-text">
                                                    <span class="wd-fa-add-file-light-title">
                                                        <span
                                                            class="wd-fa-add-file-light-title-text">{{'UploadFile'|l}}</span>
                                                    </span>
                                                    <span
                                                        class="wd-fa-add-file-light-descript">{{'DragTheFileHereToUpload'|l}}</span>
                                                </span>
                                            </span>
                                            <input class="diskuf-fileUploader wd-test-file-light-inp "
                                                                type="file" file-reading
                                                                file-func="ctrlChild.pushFile_wiki_update(params)"
                                                                size="1" style="width:100%;">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <modal-button-save modal-button-save-ctrlname="{{ctrlChild._ctrlName}}" modal-button-save-objname="Task"
                    modal-button-save-actionname="updateWiki" modal-button-save-invalid="updateFormWiki.$invalid"
                    modal-button-save-func="ctrlChild.update_wiki()">
                </modal-button-save>
                <modal-button-close></modal-button-close>
            </div>
        </div>
    </div>
</div>