<div class="modal fade" id="modal_EventCalendarRegistration_Assess" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <modal-header modal-header-title="{{'ProcessRegistration'|l }}"></modal-header>
      <div class="modal-body">
        <div class="card">
          <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">
            <table class="col-md-12">
              <tr>
                <td class="font-weight-bolder">
                  {{'Title'|l}}
                </td>
                <td colspan="3">
                  {{ ctrl._assess_value.title }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Type'|l}}</td>
                <td>{{ ctrl._assess_value.type|l }}</td>
                <td class="font-weight-bolder">{{'LevelEvent'|l}}</td>
                <td>{{ ctrl._assess_value.level|l }}</td>
              </tr>

              <tr>
                <td class="font-weight-bolder">{{'Start date'|l}}</td>
                <td>
                  <time-show time-show-type="long" time-show-data="ctrl._assess_value.start_date" />
                </td>
                <td class="font-weight-bolder">{{'End date'|l}}</td>
                <td>
                  <time-show time-show-type="long" time-show-data="ctrl._assess_value.start_date" />
                </td>
              </tr>
              <tr>

                <td class="font-weight-bolder">{{'HostPerson'|l}}</td>
                <td colspan="3">
                  <show-username-onlyname  username="ctrl._assess_value.main_person" hide-image="true" />
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Participant'|l}}</td>
                <td colspan="3">
                  <span
                    ng-repeat="n in ctrl._assess_value.participants"
                    class="p-1 ml-2 mt-1"
                    style="font-size: 0.7rem ;color: #3e4042;background-color: #dde2e4; border-radius: 5px; text-align: center; text-wrap: nowrap;"
                  >
                    <show-username-onlyname
                      hide-image="true"
                      username="n"
                    ></show-username-onlyname>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'ParticipateDepartments'|l}}</td>
                <td colspan="3">
                  <span
                    ng-repeat="dp in ctrl._assess_value.to_department_titles"
                    class="p-1 ml-2 mt-1"
                    style="font-size: 0.7rem ;color: #3e4042;background-color: #dde2e4; border-radius: 5px; text-align: center; text-wrap: nowrap;"
                  >
                    {{dp[ctrl.$languageValue.current]}}
                  </span>
                </td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Content'|l}}</td>
                <td colspan="3">{{ctrl._assess_value.content}}</td>
              </tr>
              <tr>
                <td class="font-weight-bolder">{{'Attachment'|l}}</td>
                <td colspan="3">
                  <attachment-show ng-repeat="at in ctrl._assess_value.attachments" attachment-show-item="at"
                    attachment-show-func="ctrl.loadfile(params)"
                    attachment-show-params="{id:ctrl._assess_value._id, code:ctrl._assess_value.code, name:at.name}"
                    attachment-show-service-name="'car_management'"></attachment-show>
                  <span ng-if="ctrl._assess_value.attachments.length ==0" class="no-data">
                    {{'NoData'|l}}
                  </span>
                </td>
              </tr>
            </table>


          </div>
        </div>
        <form class="form-horizontal" name="assessForm">
          <div class="card">
            <div class="card-body row" style="border-left: 2px solid #20a8d8;padding: 10px;">
              <div class="col-md-12">
                <div class="input-group-new">
                  <div class="input-group-prepend-new">
                    <span class="input-group-text-new">{{'Note'|l}}</span>
                    <span class="require-sympton" ng-show="ctrl._assess_value.note_required">*</span>
                  </div>
                  <div class="form-group">
                    <text-area-with-suggestions ng-model="ctrl._assess_value.note"
                      ng-required="ctrl._assess_value.note_required"
                      placeholder="{{ctrl._assess_value.note_placeholder}}"></text-area-with-suggestions>
                  </div>
                </div>
                <div>
                  <span 
                    class="badge badge-light m-1" 
                    style="cursor: pointer; font-size: 0.8rem; font-weight: 400;"
                    ng-repeat="hint in ctrl._hintNoteSet"
                    ng-click="ctrl.set_hint_note(hint)"
                  > 
                    {{hint|l}}
                  </span>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer" ng-switch="ctrl._assess_value.action">
        <modal-button-approval
          ng-switch-when="approve_department"
          modal-button-approval-ctrlname="{{ctrl._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_department"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrl.approve_department()"
          modal-button-confirm-text="{{'AreYouSureApprovalThisRegistration'}}"
          modal-button-approval-label="{{'Approval'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_department"
          modal-button-reject-ctrlname="{{ctrl._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_department"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrl.reject_department()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_host"
          modal-button-approval-ctrlname="{{ctrl._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_host"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrl.approve_host()"
          modal-button-confirm-text="{{'AreYouSureApprovalThisRegistration'}}"
          modal-button-approval-label="{{'Approval'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_host"
          modal-button-reject-ctrlname="{{ctrl._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_host"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrl.reject_host()"
          modal-button-confirm-text="{{'AreYouSureRejectThisRegistration'}}"
        />

        <modal-button-reject
          ng-switch-when="request_cancel"
          modal-button-reject-ctrlname="{{ctrl._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="request_cancel"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrl.request_cancel()"
          modal-button-confirm-text="{{'AreYouSureRequestCancelThisRegistration'}}"
        />

        <modal-button-delete
          ng-switch-when="creator_delete"
          modal-button-delete-ctrlname="{{ctrl._ctrlName}}"
          modal-button-delete-objname="EventCalendar"
          modal-button-delete-actionname="creator_delete"
          modal-button-delete-invalid="assessForm.$invalid"
          modal-button-delete-func="ctrl.creator_delete()"
        />

        <modal-button-approval
          ng-switch-when="approve_recall_department"
          modal-button-approval-ctrlname="{{ctrl._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_recall_department"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrl.approve_recall_department()"
          modal-button-confirm-text="{{'AreYouSureApprovalRecallThisRegistration'}}"
          modal-button-approval-label="{{'ApproveRecall'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_recall_department"
          modal-button-reject-ctrlname="{{ctrl._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_recall_department"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrl.reject_recall_department()"
          modal-button-confirm-text="{{'AreYouSureRejectRecallThisRegistration'}}"
        />

        <modal-button-approval
          ng-switch-when="approve_recall_host"
          modal-button-approval-ctrlname="{{ctrl._ctrlName}}"
          modal-button-approval-objname="EventCalendar"
          modal-button-approval-actionname="approve_recall_host"
          modal-button-approval-invalid="assessForm.$invalid"
          modal-button-approval-func="ctrl.approve_recall_host()"
          modal-button-confirm-text="{{'AreYouSureApprovalRecallThisRegistration'}}"
          modal-button-approval-label="{{'ApproveRecall'|l}}"
        />

        <modal-button-reject
          ng-switch-when="reject_recall_host"
          modal-button-reject-ctrlname="{{ctrl._ctrlName}}"
          modal-button-reject-objname="EventCalendar"
          modal-button-reject-actionname="reject_recall_host"
          modal-button-reject-invalid="assessForm.$invalid"
          modal-button-reject-func="ctrl.reject_recall_host()"
          modal-button-confirm-text="{{'AreYouSureRejectRecallThisRegistration'}}"
        />

        <modal-button-close></modal-button-close>
    </div>
  </div>
</div>
